
@import "../../../global.scss";
.bgdashboard{
    --bullet-background:  url('../../../assets/img/bg-dashboard.png');
}

.move-filter{
}

.text-moneda{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 34px;
}


.center{
    top:10%;
    text-align: center;
    width: 100%;
}
.cryptoCurrencies{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top;
}
.BITCOIN{
    background-image:  url('../../../assets/img/cryptocurrencies/BITCOIN.svg');
}
.LITECOIN{
    background-image:  url('../../../assets/img/logoEtherium.png');
}

.card-content-md {
    padding: 0;
}

.contentEtherium{
    width: 100%;
    height: 100%;
    background:  url('../../../assets/img/bg-etherium.png') no-repeat center center / cover;
}

.content-balances {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    .text-balance {
        font-family: $font-roboto-bold;
        font-size: 25px;
        color: #28255C;
        display: block;
        width: 100%;
        text-align: left;
    }
    
    .text-usd {
        font-family: $font-roboto-bold;
        font-size: 16px;
        color: #5495FF;
        display: block;
        width: 100%;
        text-align: left;
    }
}

.cardwith{
    opacity: 1;
    height: 25%;
    background: linear-gradient(-17deg, rgba(151, 245, 249, 0.4) -30%, rgba(126, 213, 246, 0.4) -45%, rgba(82, 157, 243, 0.4) 44%, rgba(82, 157, 243, 0.4) 118%, rgba(45, 60, 173, 0.4) 131%, rgba(45, 60, 173, 0.6) 106%, rgba(45, 60, 173, 0.4) 188%);
}

.card-title{
    color: #28255C;
    font-size: 2.9vh;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.card-ver-title{
    font-size: 2.9vh;
    padding-left: 1vw;
    color: white;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.card-titlesub{
    color: #28255C;
    font-size: 2vh;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.header{
    padding-bottom: 0px;
}

.card-ver-titlesub{
    color: white;
    font-size: 2vh;
    margin-top: -2vh;
    margin-left: 3vw;
    padding-bottom: 7vw;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
    z-index: 3;
}

.card-ver-width{
    background: linear-gradient(-17deg, rgba(151, 245, 249, 0.4) -30%, rgba(126, 213, 246, 0.4) -45%, rgba(82, 157, 243, 0.4) 44%, rgba(82, 157, 243, 0.4) 118%, rgba(45, 60, 173, 0.4) 131%, rgba(45, 60, 173, 0.6) 106%, rgba(45, 60, 173, 0.4) 188%);
    background-repeat: no-repeat;
    background-position: right;
    opacity: 5;
    position: relative;
    z-index: 1;

}

.img-verify{
    width: 20vh;
    opacity: 0.4;
    position: relative;
    z-index: 2;
    top: -100%;
    left: 71%;
}

.btn-continuar{
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 2vh;
    background: #354E91;
    color: white;

    padding: 2vh 5vh;
    border-radius: 11px;
}

.logo-card{

    width: 15vh;
    height: 17vh;
}

.card{
    width: 90vw;
    height: 12vh;

    border-radius:100px;
    background: white;
    box-shadow: 10px 10px 50px -22px rgba(51,51,203,0.59);
    --background: blue
}

.status{

    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
    font-size: 4vw;
}

.m-dashboard {

}

.time{
    font-size: 3.4vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #92B4E4;
}

.date{
    font-size: 3.4vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #92B4E4;
}

.dot{
    color: #15E9E9
}

.value{
    color: #272759;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.crypto{
    font-size: 3vw;
    color: #5496FF;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
}

.status-icon{
    width: 50%;
}
.sc-ion-card-md-h {
    height: auto;
}

.sc-ion-card-ios-h-transactions {
    height: auto;
    --background: var(--ion-item-background,transparent);
    --color: var(--ion-color-step-550,#737373);
    margin: 10px;
    border-radius: 50px;
    font-size: 14px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.card-content-ios-transactions {
    height: auto;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    widows: 50px;
}

.btn-aceptar{
    background: linear-gradient(45deg, #00de96 0%, #00ecea 100%);
    box-shadow: 0px 10.86px 6.79px rgba(0, 127, 59, 0.14);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 3.8vw;
    padding: 2vw 13vw;
    border-radius: 1.5vw;
    position: relative;
    z-index: 3;
}

.swiper-slide-active {
    font-weight: bold;
    font-size: 24px;
    color: #28255C;   
}

.swiper-slide-next, .swiper-slide-prev{
    font-weight: bold;
    font-size: 14px;
    color: #5495FF;
}

.name-crypto-selected {
    font-family: $font-roboto-bold;
    text-transform: capitalize;
}

.sc-ion-card-ios-h-transactions {
    background: white;
}

//==========================================================
.sliders {
    .names-sliders {
        margin: 3vh 0 0 0;

        .name-slider {
            .cryptos-names {

            }
        }
    }

    .sliders-balances-refresh-graphics {
        .slider-balance-refresh-graphic {
            @extend .all-center-colum;

            .content-balance-refresh {
                width: 100%;
                padding: 70px 0 0 0;
                @extend .center-space-around;

                .balances {
                    .text-balance-crypto {
                        font-family: $font-roboto-bold;
                        font-size: 25px;
                        color: #28255C;
                        display: block;
                        width: 100%;
                        text-align: left;
                        margin: 0 0 7px 0;
                    }

                    .text-balance-usd {
                        font-family: $font-roboto-bold;
                        font-size: 16px;
                        color: #5495FF;
                        display: block;
                        width: 100%;
                        text-align: left;
                    }
                }

                .refresh {
                    @extend .all-center;

                    .icon-refresh {
                        border-radius: 40px;
                    }

                    .icon-refresh:hover {
                        background: rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }

        .graphic-transactions {

        }
    }
}

.content-graphic {
    .graphic {
        width: 104% !important;
        margin: -50% 0 0 -3%;
    }
}
//==========================================================

