
.bgdashboard{
    --bullet-background:  url('../../../assets/img/bg-dashboard.png');
    
}

.text-moneda{
    margin-top:5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 34px;
}

.center{
    top:10%;
    text-align: center;
    width: 100%;
}

.contentBitcoin{
    width: 100%;
    height: 100%;
    background-image:  url('../../../assets/img/bg-dashboard.png');
    background-position: 0em -2cm;
}

.contentEtherium{
    width: 100%;
    height: 100%;
    background-image:  url('../../../assets/img/bg-etherium.png');
    background-position: 0em -2cm;
}

ion-slides, ion-slide {
    height: 100%;
}
