
@import "../../../global.scss";
.bgdashboard{
    --bullet-background:  url('../../../assets/img/bg-dashboard.png');

}

.text-moneda{
    margin-top:5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 34px;
}

.center{
    top:10%;
    text-align: center;
    width: 100%;
}

.contentBitcoin{
    width: 100%;
    margin-top: -32vh;
    background-image:  url('../../../assets/img/bg-dashboard.png');
    background-position: 0em -2cm;
}

.contentEtherium{
    width: 100%;
    height: 100%;
    background-image:  url('../../../assets/img/bg-etherium.png');
    background-position: 0em -2cm;
}

ion-slides, ion-slide {
    height: 100%;
}

.text-valance{
    font-family: $font-roboto-bold;
    color: #28255C;
    display: block;
    padding-left: 6%;
    margin-right: 50%;
    font-size: 30px;
}

.text-usd{
    font-family: $font-roboto-bold;
    display: block;
    color: #5495FF;
    text-align: left;
    padding-left: 6%;
    margin-right: 50%;
    margin-bottom:20px !important;
    font-size: 18px;
}

.cardwith{
    opacity: 0.80;
    height: 25%;

background: rgb(151,245,249);
background: linear-gradient(48deg, rgba(151,245,249,1) 0%, rgba(126,213,246,1) 15%, rgba(82,157,243,1) 44%, rgba(71,129,223,1) 58%, rgba(45,60,173,1) 91%, rgba(45,60,173,1) 96%, rgba(45,60,173,1) 98%);
}

.card-title{
    color:#28255C;
    font-size: 18px;
    margin-right: 40%;
    text-align: left;
}

.card-titlesub{
    color:#28255C;
    font-size: 8px;
    margin-right: 30%;
    text-align:left;

}

.btn-continuar{
    --background:#28255C;
    margin-right: 60%;
}

.logo-card{
    top:-15%;
    left: 50%;
    position: absolute;
    width: 50%;
    height: 50%;
}
