
@import "../../../global.scss";
.bgdashboard{
    --bullet-background:  url('../../../assets/img/bg-dashboard.png');
}

.move-filter{
    margin-top: 1vh;
}

.text-moneda{
    margin-top:5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 34px;
}

.mt-14{
    margin-top: 14vh;
}

.center{
    top:10%;
    text-align: center;
    width: 100%;
}

.contentBitcoin{
    width: 100%;
    margin-top: -32vh;
    background-image:  url('../../../assets/img/bg-dashboard.png');
    background-position: 0em -2cm;
}

.contentEtherium{
    width: 100%;
    height: 100%;
    background-image:  url('../../../assets/img/bg-etherium.png');
    background-position: 0em -2cm;
}

ion-slides, ion-slide {
    height: 100%;
}

.text-valance{
    font-family: $font-roboto-bold;
    color: #28255C;
    display: block;
    padding-left: 6%;
    margin-right: 50%;
    font-size: 30px;
}

.text-usd{
    font-family: $font-roboto-bold;
    display: block;
    color: #5495FF;
    text-align: left;
    padding-left: 6%;
    margin-right: 50%;
    margin-bottom:20px !important;
    font-size: 18px;
}

.cardwith{
    opacity: 1;
    height: 25%;
    background: linear-gradient(-17deg, #97f5f9 -30%, #7ed5f6 -45%, #529df3 44%, #4781df 118%, #2d3cad 131%, #2d3cad 106%, #2d3cad 188%);
}

.card-title{
    color: #28255C;
    font-size: 2.9vh;
    margin-right: 40%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.card-titlesub{
    color: #28255C;
    font-size: 2vh;
    width: 27vh;
    margin-right: 30%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.btn-continuar{
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 2vh;
    background: #354E91;
    color: white;
    margin-right: 60%;
    padding: 2vh 5vh;
    border-radius: 11px;
    margin-top: -11vh;
}

.logo-card{
    margin-top: -14vh;
    margin-left: 56vw;
    width: 15vh;
    height: 17vh;
}
