
.bgdashboard{
    --bullet-background:  url('../../../assets/img/bg-dashboard.png');
    
}

.text-moneda{
    margin-top:5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 34px;
}

.center{
    top:10%;
    text-align: center;
    width: 100%;
}