@import '../../global.scss';

.modal-invoice {
  @extend .backGroundGradient;

  .icon-close {
    width: 10vw;
    margin: 20px 0 0 0;
  }

  .content-invoice {
    background: white;
    margin: 60px 0 0 0;
    padding: 30px 0;
    @extend .all-center-colum;

    .content-logo {
      @extend .all-center;
      margin: 0 0 60px 0;

      .image-logo {
        width: 50vw;
      }
    }

    .text-one {
      display: block;
      width: 100%;
      text-align: center;
      margin: 0 0 10px 0;
      font-family: $font-roboto-regular;
      font-size: 5vw;
      color: #272759;
    }

    .content-icon-value {
      @extend .all-center;

      .image {
        margin: 0 20px 0 0;
      }
  
      .text-two {
        font-family: $font-roboto-regular;
        font-size: 4vw;
        color: #272759;
      }
    }
  }

  .content-button {
    @extend .all-center;

    .button {
      --background: #7DDC97 !important;
      --background: -webkit-linear-gradient(to right, #7DDC97, #84EAE8) !important;
      --background: linear-gradient(to right, #7DDC97, #84EAE8) !important;
      font-family: $font-semibold;
      font-size: 16px;


      width: 66vw;
      margin: 60px 0 0 0;
    }
  }
}
