.card{
    margin-top: 1vh;
    width: 90vw;
    height: 12vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    border-radius:100px;
    background: white;
    box-shadow: 10px 10px 50px -22px rgba(51,51,203,0.59);
    --background: blue
}

.status{
    margin-top: 0vw;
    margin-right: 10vw;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
    font-size: 4vw;
}

.m-dashboard {
    margin-top: -11vh;
    margin-bottom: 17vh;
    --background: transparent; 
}

.time{
    margin-left: -24vw;
    font-size: 3.4vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #92B4E4;
}

.date{
    margin-left: 8vw;
    margin-top: -7.5vw;
    font-size: 3.4vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #92B4E4;
}

.dot{
    color: #15E9E9
}

.value{
    margin-left: 56vw;
    margin-top: -9.8vh;
    color: #272759;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.crypto{
    margin-left: 53vw;
    margin-top: 0.2vh;
    font-size: 3vw;
    color: #5496FF;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
}

.status-icon{
    margin-top: 2vh;
    margin-left: -61vw;
    margin-bottom: -10vw;
}
