<ion-content class="back-modal">
<!-- <img src="../../assets/icon/icon-return-page.svg" alt="Regresar" (click)="close()"  class="button-return" /> -->


<ion-card class="card-detalis">
    <ion-item>
        <img src="{{datos.typeIcon}}" class="icon-detalies" slot="start"/>
        <ion-label>Detalles</ion-label>
        <ion-button fill="outline" slot="end" (click)="close()">X</ion-button>
    </ion-item>

    <ion-card-content class="conten-detalis">
        <ion-list>
            <ion-item>
                <ion-label position="floating" class="label-datails">From:</ion-label>
                <ion-input value="{{datos?.address_from}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" class="label-datails">To:</ion-label>
                <ion-input value="{{datos?.address_to}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" class="label-datails">Confirmation:</ion-label>
                <ion-input value="{{datos?.confirmationText}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" class="label-datails">Mount:</ion-label>
                <ion-input value="{{datos?.amount}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" class="label-datails">USD:</ion-label>
                <ion-input value="{{datos?.amountDollar}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" class="label-datails">Fee:</ion-label>
                <ion-input value="{{datos?.fee}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" class="label-datails">Priority:</ion-label>
                <ion-input value="{{datos?.priority}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" class="label-datails">Date:</ion-label>
                <ion-input value="{{datos?.createdAt}}"></ion-input>
            </ion-item>
            
            
        </ion-list>
    </ion-card-content>
</ion-card>
</ion-content>