<ion-content class="vault" [fullscreen]="true">
  <div class="header">
    <app-pocket [ctrlNavigation]="ctrlNavigation"></app-pocket>

    
      <ion-select
        class="select-pocket" 
        mode="md"
        [placeholder]="dataPockets.placeholderSelectPocket"
        [(ngModel)]="dataSelected"
        (ionChange)="handlerPocketSelected()"
        [okText]="dataPockets.buttonOkSelect"
        [cancelText]="dataPockets.buttonCancelSelect"
      >
        <ion-select-option *ngFor="let dataPocket of pockets" [value]="dataPocket.label">{{ dataPocket.label }} ({{ dataPocket.currency.shortName }})</ion-select-option>
      </ion-select>
  </div>

  <div class="content-balance-duration content-balance">
    <span class="title">Saldo disponible</span>

    <span *ngIf="pockets" class="balance">{{ pockets[positionPocketSelected].balance }} {{ pockets[positionPocketSelected].currency.shortName }}</span>

    <table class="table">
      <tr class="row-border">
        <td class="title">BTC</td>
        <td class="text padding-text">0.000</td>
        <td class="title">USD</td>
        <td class="text">0.000</td>
      </tr>

      <tr>
        <td class="title">Matrícula</td>
        <td class="text padding-text">0.000</td>
        <td class="title">USD</td>
        <td class="text">0.000</td>
      </tr>
    </table>
  </div>

  <div class="content-balance-duration">
    <span class="title">Duración</span>

    <span class="text-duration">3 meses - 3%</span>

    <span class="text-other">Total ganancias</span>

    <table class="table">
      <tr>
        <td class="title">BTC</td>
        <td class="text padding-text">0.000</td>
        <td class="title">USD</td>
        <td class="text">0.000</td>
      </tr>
    </table>
  </div>

  <div class="content-button">
    <ion-button
      [disabled]="!buttonDisabled"
      (click)="continueCreateVault()"
      class="button"
      text-capitalize
      shape="round"
    >
      Próximamente
    </ion-button>
  </div>
</ion-content>
