<app-pocket [typeSliding]="nameTypeSliding" titleTypeSliding="{{'GENERAL.Exchange'| translate}}" [buttonLeft]="buttonSlidingLeft" [buttonRight]="false" class="content-tabs-sliding"></app-pocket>

<div class="exchange-header">
	<span class="exchange-text">{{ 'EXCHANGE.DescriptionText' | translate }}</span>

	<div class="exchange-content-inputs">
		<div class="input-crypto-general">
			<span class="crypto-name">{{ selectedCryptoName }}</span>
			<ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="icon-select-crypto" (click)="showListNamesCryptos(selectedCryptoName, inputOrigin)"></ion-icon>
			<ion-input *ngIf="!showLoaderInputValueCrypto" [disabled]="inputCryptoSelected" type="number" placeholder="0" [(ngModel)]="valueSelectedCrypto" (ngModelChange)="getExchangeValuesInputOrigin($event, inputOrigin)" (click)="messageBalancePocketCurrent()" class="input-value-crypto"></ion-input>
			<div *ngIf="showLoaderInputValueCrypto" class="content-image-loaging-values">
				<img class="image-loaging-values" src="../../assets/icon/loading-values.svg">
			</div>
		</div>

		<ion-button
			(click)="changeCryptoSelected(selectedCryptoName, changeCryptoName, nameSelectedPocket, nameExchangePocket)"
			class="button-exchange"
		>
			<ion-icon
				ios="ios-repeat"
				md="md-repeat"
				class="button-change-crypto"
			></ion-icon>
		</ion-button>

		<div class="input-crypto-general">
			<span class="crypto-name">{{ changeCryptoName }}</span>
			<ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="icon-select-crypto" (click)="showListNamesCryptos(changeCryptoName, inputDestination)"></ion-icon>
			<ion-input *ngIf="!showLoadingValues" [disabled]="inputCryptoExchange" type="number" placeholder="0" [(ngModel)]="valueExchangeCrypto" class="input-value-crypto"></ion-input>
			<div *ngIf="showLoadingValues" class="content-image-loaging-values">
				<img class="image-loaging-values" src="../../assets/icon/loading-values.svg">
			</div>
		</div>
	</div>

	<div class="exchange-content-pockets">
		<div class="content-pocket">
			<span class="name-pocket">{{ nameSelectedPocket }}</span>
			<ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="icon-select-pocket" (click)="showListNamesPockets(selectedPocketCrypto, nameSelectedPocket, inputOrigin)"></ion-icon>
		</div>

		<div class="content-pocket">
			<span class="name-pocket">{{ nameExchangePocket }}</span>
			<ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="icon-select-pocket" (click)="showListNamesPockets(exchangePocketCrypto, nameExchangePocket, inputDestination)"></ion-icon>
		</div>
	</div>
</div>

<ion-content class="move-profileInfo exchange" [fullscreen]="true">
	<div class="input-dollar-crypto">
		<span class="dollar-symbol">$</span>
		<ion-input *ngIf="!showLoaderInputValueDollar" type="number" placeholder="0" [disabled]="inputCryptoSelected" (click)="messageBalancePocketCurrent()" [(ngModel)]="valueDollarCrypto" (ngModelChange)="getExchangeValuesInputOrigin($event, inputDestination)" class="dollar-input"></ion-input>
		<div *ngIf="showLoaderInputValueDollar" class="content-image-loaging-values">
			<img class="image-loaging-values" src="../../assets/icon/loading-values.svg">
		</div>
	</div>

	<div class="content-input-list-exchange">
		<ion-list class="list-content-info">
			<ion-item class="list-item">
				<ion-label class="list-item-title" class="list-item-title">{{selectedCryptoName}} {{ 'EXCHANGE.DollarPriceText' | translate }}</ion-label>
				<p *ngIf="!showLoadingValues" class="list-item-content" class="list-item-content">{{ valueCryptoOrigin | roundNumber }} USD</p>
				<div *ngIf="showLoadingValues" class="content-gif-loaging-values">
					<img class="image-loaging-values" src="../../assets/icon/loading-values.svg">
				</div>
			</ion-item>

			<ion-item class="list-item">
				<ion-label class="list-item-title">{{changeCryptoName}} {{ 'EXCHANGE.DollarPriceText' | translate }}</ion-label>
				<p *ngIf="!showLoadingValues" class="list-item-content">{{ valueCryptoDestination | roundNumber }} USD</p>
				<div *ngIf="showLoadingValues" class="content-gif-loaging-values">
					<img class="image-loaging-values" src="../../assets/icon/loading-values.svg">
				</div>
			</ion-item>

			<ion-item class="list-item">
				<ion-label class="list-item-title">{{ 'EXCHANGE.NetworkRates' | translate }}</ion-label>
				<p class="list-item-content">1 {{selectedCryptoName}} - 1 {{changeCryptoName}}</p>
			</ion-item>

			<ion-item class="list-item">
				<ion-label class="list-item-title">{{ 'EXCHANGE.TradeLimits' | translate }}</ion-label>
				<p class="list-item-content">$ 100.00 - $ 100,000.00</p>
			</ion-item>

			<ion-item class="list-item">
				<ion-label class="list-item-title"></ion-label>
				<p class="list-item-content"></p>
			</ion-item>

			<ion-item class="list-item">
				<ion-label class="list-item-title">{{ 'EXCHANGE.Send' | translate }}</ion-label>
				<p *ngIf="!showLoadingValues" class="list-item-content">{{ valueSelectedCrypto | roundNumber }} {{ selectedCryptoName }}</p>
				<div *ngIf="showLoadingValues" class="content-gif-loaging-values">
					<img class="image-loaging-values" src="../../assets/icon/loading-values.svg">
				</div>
			</ion-item>

			<ion-item class="list-item">
				<ion-label class="list-item-title">{{ 'EXCHANGE.Receive' | translate }}</ion-label>
				<p *ngIf="!showLoadingValues" class="list-item-content">{{ valueExchangeCrypto | roundNumber }} {{ changeCryptoName }}</p>
				<div *ngIf="showLoadingValues" class="content-gif-loaging-values">
					<img class="image-loaging-values" src="../../assets/icon/loading-values.svg">
				</div>
			</ion-item>
		</ion-list>

		<div class="content-button-send-exchange">
			<ion-button shape="round" [disabled]="buttonSendExchange" (click)="sendExchange()" class="button-send-exchange">
					{{ 'EXCHANGE.Exchange' | translate }}
			</ion-button>
		</div>
	</div>
</ion-content>
