<!-- <div class="grid">
	<app-pocket [ctrlNavigation]="ctrlNavigation" class="pockets"></app-pocket>

	<p class="move-name">{{ 'EXCHANGE.DescriptionText' | translate }}</p>

	<div class="div-inputs center-vertical">
		<ion-input
			type="number"
			[(ngModel)]="inputFrom"
			(keyup)="getFeeTransactionFrom($event)"
		>
			<div class="div-p-currencies" (click)="filterCurrencyFrom(selectCryptoFrom)">
				<p>{{cryptoFrom.currency.shortName}}</p>
				<ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
			</div>
		</ion-input>

		<ion-icon
			(click)="changeCryptoData()"
			class="icon-change-currencies"
			ios="ios-repeat"
			md="md-repeat"
		></ion-icon>

		<ion-input
			type="number"
			[(ngModel)]="inputTo"
		>
			<div class="div-p-currencies" (click)="filterCurrencyTo(selectCryptoTo)">
				<p>{{cryptoTo?.currency.shortName}}</p>
				<ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
			</div>
		</ion-input>
	</div>

<div class="div-pockets">
<div class="div-p-pocket" (click)="selectPocketFrom(pocketsFrom)">
<p style="color: white">{{selectedPocketFrom.label}}</p>
<ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
</div>

<div class="div-p-pocket" (click)="selectPocketTo(pocketsTo)">
<p style="color: white">{{selectedPocketTo.label}}</p>
<ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
</div>
</div>

<img class="bg-profile" src="../../assets/images/bg-profile.png"/>
</div> -->

<ion-content class="move-profileInfo exchange" [fullscreen]="true">
	<div class="exchange-header">
		<app-pocket [ctrlNavigation]="ctrlNavigation" class="pockets"></app-pocket>

		<span class="exchange-text">{{ 'EXCHANGE.DescriptionText' | translate }}</span>

		<div class="exchange-content-inputs">
			<div class="input-crypto-general">
				<span class="crypto-name">{{ selectedCryptoName }}</span>
				<ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="icon-select-crypto" (click)="showListNamesCryptos(selectedCryptoName, inputOrigin)"></ion-icon>
				<ion-input [disabled]="inputCryptoSelected" type="number" placeholder="0" [(ngModel)]="valueSelectedCrypto" (ngModelChange)="getExchangeValues($event, inputOrigin)" (click)="messageBalancePocketCurrent()" class="input-value-crypto"></ion-input>
			</div>

			<ion-icon
				ios="ios-repeat"
				md="md-repeat"
				(click)="changeCryptoSelected(selectedCryptoName, changeCryptoName, selectedPocket, exchangePocket)"
				class="button-change-crypto"
			></ion-icon>

			<div class="input-crypto-general">
				<span class="crypto-name">{{ changeCryptoName }}</span>
				<ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="icon-select-crypto" (click)="showListNamesCryptos(changeCryptoName, inputDestination)"></ion-icon>
				<ion-input *ngIf="!loadingValues" [disabled]="inputCryptoExchange" type="number" placeholder="0" [(ngModel)]="valueExchangeCrypto" class="input-value-crypto"></ion-input>
				<div *ngIf="loadingValues" class="content-image-loaging-values">
					<img class="image-loaging-values" src="../../assets/icon/loading-values.svg">
				</div>
			</div>
		</div>

		<div class="exchange-content-pockets">
			<div class="content-pocket">
				<span class="name-pocket">{{ selectedPocket }}</span>
				<ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="icon-select-pocket" (click)="showListNamesPockets(selectedPocketCrypto, selectedPocket, inputOrigin)"></ion-icon>
			</div>

			<div class="content-pocket">
				<span class="name-pocket">{{ exchangePocket }}</span>
				<ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="icon-select-pocket" (click)="showListNamesPockets(exchangePocketCrypto, exchangePocket, inputDestination)"></ion-icon>
			</div>
		</div>
	</div>

	<div class="input-dollar-crypto">
		<span class="dollar-symbol">$</span>
		<ion-input *ngIf="!loadingValues" type="number" placeholder="0" [(ngModel)]="valueDollarCrypto" (ngModelChange)="getExchangeValues($event, inputValueDollar)" class="dollar-input"></ion-input>
		<div *ngIf="loadingValues" class="content-image-loaging-values">
			<img class="image-loaging-values" src="../../assets/icon/loading-values.svg">
		</div>
	</div>

	<div class="content-input-list-exchange">

	<!-- <span class="dollar-symbol">$</span>
	<input type="number" [(ngModel)]="usdAmount" (keyup)="onInput($event)" class="usdAmounts"> -->

	<ion-list>
	<ion-item>
	<ion-label>{{selectedPocketFrom?.currency?.shortName}} Precio</ion-label>
	<p>{{inputFrom ? (valueCryptoTo | roundNumber) : 0}} {{selectedPocketTo.currency?.shortName}}</p>
	</ion-item>
	<ion-item>
	<ion-label>{{selectedPocketFrom?.currency?.shortName}} Precio Dólar</ion-label>
	<p>{{inputFrom ? (valueUsdFrom | roundNumber) : 0}} USD</p>
	</ion-item>
	<ion-item>
	<ion-label>Tarifas de Red</ion-label>
	<p>1 {{selectedPocketFrom?.currency.shortName}} - 1 {{selectedPocketTo?.currency.shortName}}</p>
	</ion-item>
	<ion-item>
	<ion-label>Límites Comerciales</ion-label>
	<p>100.00 - 1,00,000 $</p>
	</ion-item>
	<ion-item>
	<ion-label></ion-label>
	<p></p>
	</ion-item>
	<ion-item>
	<ion-label>Enviar</ion-label>
	<p>{{inputFrom ? (inputFrom | roundNumber) : 0}} {{selectedPocketFrom?.currency.shortName}}</p>
	</ion-item>
	<ion-item>
	<ion-label>Recibir</ion-label>
	<p>{{inputFrom ? (inputTo | roundNumber) : 0}} {{selectedPocketTo?.currency.shortName}}</p>
	</ion-item>
	</ion-list>
	<ion-list class="center-vertical center center-horizontal">
	<ion-button shape="round" style="width: 70%" class=" button-exchange" (click)="createExchange()">Intercambiar
	</ion-button>
	</ion-list>
	</div>
</ion-content>
