.grid{
  display: grid;
  height: 45%;
  position: fixed;
  z-index: 4;
  grid-template: 22vw 11vw 11vw 25vw/10vw auto 10vw;
}
.pockets{
  grid-area: 1/1/1/4;
}
.div-inputs{
  grid-area: 3/3/3/2;
  display: flex;
  z-index: 5;
  justify-self: center;
  position: relative;
}

.bg-profile{
  width: 100%;
  height: 98.7%;
  position: relative;
  z-index: 3;
  grid-area: 1/1/5/5;
}
.move-profileInfo{
  height: 53vw;
  --background: linear-gradient(to bottom, rgba(255,255,255,1) 90%, rgba(223,226,238,1) 100%, rgba(202,206,227,1) 100%);
}
.move-name{
  grid-area: 2/1/3/4;
  margin-top: 1.5vw;
  font-size: 4vw;
  justify-self: center;
  position: relative;
  z-index: 5;
  color: white;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 400;
}

.button-exchange{
  color: white;
  font-weight:bold;
  --background: rgba(125,220,151,1);
  --background: -moz-linear-gradient(45deg, rgba(125,220,151,1) 0%, rgba(132,234,232,1) 100%);
  --background: -webkit-linear-gradient(45deg, rgba(125,220,151,1) 0%, rgba(132,234,232,1) 100%);
  --background: -o-linear-gradient(45deg, rgba(125,220,151,1) 0%, rgba(132,234,232,1) 100%);
  --background: -ms-linear-gradient(45deg, rgba(125,220,151,1) 0%, rgba(132,234,232,1) 100%);
  --background: linear-gradient(45deg, rgba(125,220,151,1) 0%, rgba(132,234,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ddc97', endColorstr='#84eae8', GradientType=1 );
}

ion-item{
  --border-color: #D1C9FF;
}
.icon-change-currencies{
  font-size: 35px; margin-right: 2%; margin-left: 2%; filter: invert(1)
}
ion-label{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px !important;
    color: #93B5E5 !important;
    margin-left: 2vw;
}

p{
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #272759;
    width: 40%;
}
ion-input{
  height: 35px;
  border: solid 2px white;
  border-radius: 20px;
  color: white;
  text-align: center;
}

.div-pockets{
  grid-area: 4/2/5/3;
  z-index: 5;
  width: 100%;
  display: inline-flex;
  height: 60%;
  color: white;
}

.div-p-pocket{
  display: inline-flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 80%;
  color: white;
  align-self: center;
}

.div-p-currencies{
  display: contents;
}
