
.centerContent{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
}

h5{
  color: white;
}

ion-label{
  text-align: center;
  --color: white !important;
}

ion-item{
  --border-color: white;
  --border-bottom: white;
  --background: transparent;
}
ion-item:hover {
  --background-color: transparent;
  --background: transparent;
  background: transparent;
}

.button-return {
  height: 2em;
  width: 2em;
  position: absolute;
  left: 10px;
}
