.tab-bg {
  --background: linear-gradient(#14a9ff -21%, #2b84ff -18.74%, #8000ff 210%);
  --border: transparent;
  box-shadow: 10px 10px 50px -22px rgba(51, 51, 203, 1);
  opacity: 0.91;
  margin-bottom: 2vh;
  height: 13vh;
  border-top-left-radius: 80px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 104px;
}

.tab-btn {
  --background-focused: red;
  --color-selected: white;
  --color: white;
}

.img-icon-tabs {
  width: 50%;
}

.tab {
  width: 10vw;
  height: 10vw;
}

.img-icon-tabs-selected {
  filter: invert(1);
}

.selected-tab {
  background: white;
  border-radius: 50px;
  -moz-box-shadow: 0 9px 18px 2px #fff;
  -webkit-box-shadow: 0 9px 18px 2px #fff;
  box-shadow: 0 9px 18px 2px #fff;
}

.background {
  background-image: linear-gradient(rgba(20, 169, 255, 0.6) 0%, rgba(43, 132, 255, 0.6) 21.26%, rgba(128, 0, 255, 0.6) 180%);
}

.bgdashboard1 {
  // --background:  url('../../assets/img/bg-dashboard.png');
  // --background-repeat: no-repeat;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(223, 225, 237, 1) 75%, rgba(204, 207, 226, 1) 1000%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(75%, rgba(223, 225, 237, 1)), color-stop(100%, rgba(204, 207, 226, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(223, 225, 237, 1) 75%, rgba(204, 207, 226, 1) 1000%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(223, 225, 237, 1) 75%, rgba(204, 207, 226, 1) 1000%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(223, 225, 237, 1) 75%, rgba(204, 207, 226, 1) 1000%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(223, 225, 237, 1) 75%, rgba(204, 207, 226, 1) 1000%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccfe2', GradientType=0);
  //background-image: linear-gradient(rgba(20, 169, 255, 0.6) 0%, rgba(43, 132, 255, 0.6) 21.26%, rgba(128, 0, 255, 0.6) 180%);

}
.tabs {
  //--background: linear-gradient(#14a9ff -21%, #2b84ff -18.74%, #8000ff 210%);
  --border: transparent;
  box-shadow: 10px 10px 50px -22px rgba(51, 51, 203, 1);
  opacity: 0.91;
  margin-bottom: 2vh;
  height: 13vh;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 104px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: rgb(140, 140, 140);
  background-image: linear-gradient(#14a9ff -21%, #2b84ff -18.74%, #8000ff 210%);
}
