<ion-tabs [class.blur]="ctrlCssBlur">
    <ion-tab-bar class="tab-bg" slot="bottom">
        <ion-tab-button class="tab-btn" tab="prices">
            <img src="../../assets/img/tabs/tab-prices.svg">
        </ion-tab-button>
        <ion-tab-button class="tab-btn" (click)="gotoUploadFiles()">
            <img src="../../assets/img/tabs/tab-vault.svg">
        </ion-tab-button>
        <ion-tab-button class="tab-btn" tab="/">
            <img src="../../assets/img/tabs/tab-wallet.svg">
        </ion-tab-button>
        <ion-tab-button class="tab-btn" (click)="requestCreditCard()">
            <img src="../../assets/img/tabs/tab-card.svg">
        </ion-tab-button>
        <ion-tab-button class="tab-btn" (click)="goToProfile()">
            <img src="../../assets/img/tabs/tab-profile.svg">
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
