.tab-bg{
    --background: linear-gradient(#14a9ff -21%, #2b84ff -18.74%, #8000ff 210%);
    --border: transparent;
    box-shadow: 10px 10px 50px -22px rgba(51,51,203,1);
    opacity: 0.91;
    margin-bottom: 2vh;
    height: 13vh;
    border-top-left-radius: 80px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 104px;
}
.tab-btn{
    --background-focused: red;
    --color-selected: white;
    --color:white;
}

.img-icon-tabs{
    width: 50%;
}
.tab{
    width: 10vw;
    height: 10vw;
}
.img-icon-tabs-selected{
    filter: invert(1);
}
.selected-tab{
    background: white;
    border-radius: 50px;
    -moz-box-shadow:    0 9px 18px 2px #fff;
    -webkit-box-shadow: 0 9px 18px 2px #fff;
    box-shadow:         0 9px 18px 2px #fff;
}
