@import '../../global.scss';

.content-registry {
   .content-header {
      margin: 100px 0 60px 0;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;

      .icon {
         margin: 0 10px;
      }

      .title {
         font-family: $font-semibold;
         font-size: 17px;
         color: white;
      }
   }

   .content-form {
      .list-form {
         background: none;
         padding: 0 16px;

         .list-item {
            --background: transparent !important;
            background: transparent !important;
            --border-color: white !important;
            --highlight-height: 0;

            .icon-input {
               width: 23px;
               height: 23px;
            }

            .icon-input-email {
               width: 20px;
               height: 20px;
               margin-left: 2px;
            }

            .input {
               --placeholder-color: white;
               color: white;
               margin-left: 20px;
            }

            .icon-success-error {
               width: 24px;
            }
         }
      }
   }

   .content-terms-conditions {
      background: #4C6AC0;
      margin: 40px 0 20px 0;
      padding: 20px 40px;
      font-family: $font-regular;
      color: white;
      font-size: 11px;
      text-align: center;

      .text {
         .terms-conditions {
            display: block;
            text-transform: capitalize;
            color: white;
            
            .text-terms-conditions {
               text-decoration: none;
               color: #28255C;
            }
         }
      }
   }

   .content-button {
      margin: 30px 0;
      @extend .all-center;
   }
}
