<ion-content class="content-registry bghome">
	<app-return-page [path]="path"></app-return-page>

	<div class="content-header">
		<ion-img class="icon" src="../../assets/icon/icon-wallet.svg"></ion-img>
		<span class="title">{{constants.REGISTRY.TITLE}}</span>
	</div>

	<form class="content-form" #form="ngForm" (ngSubmit)="sendDataRegistry()">
		<ion-list class="list-form">
			<ion-item class="list-item">
				<ion-img class="icon-input-email" src="../../assets/icon/icon-email.svg"></ion-img>
				<ion-input
					type="email"
					name="email"
					[placeholder]="constants.REGISTRY.EMAIL"
					[(ngModel)]="dataRegistry.email"
					(ngModelChange)="validateEmail($event)"
					clear-input
					class="input"
				></ion-input>
				<ion-img *ngIf="emailOk" slot="end" class="icon-success-error" src="../../assets/icon/icon-data-form-valid.svg"></ion-img>
			</ion-item>

			<ion-item class="list-item">
				<ion-img class="icon-input" src="../../assets/icon/icon-phone.svg"></ion-img>
				<ion-input
					placeholder="Ejm.: +5712345678"
					type="text"
					name="phon"
					[(ngModel)]="dataRegistry.phone"
					(ngModelChange)="validatePhone($event)"
					clear-input
					class="input"
				></ion-input>
				<ion-img *ngIf="phoneOk" slot="end" class="icon-success-error" src="../../assets/icon/icon-data-form-valid.svg"></ion-img>
			</ion-item>

			<ion-item class="list-item">
				<ion-img class="icon-input" src="../../assets/icon/icon-password.svg"></ion-img>
				<ion-input
					type="password"
					[placeholder]="constants.REGISTRY.CONTRASENA"
					name="password"
					[(ngModel)]="dataRegistry.password"
					(ngModelChange)="validatePassword($event)"
					clear-input
					class="input"
				></ion-input>
				<ion-img *ngIf="passwordOk" slot="end" class="icon-success-error" src="../../assets/icon/icon-data-form-valid.svg"></ion-img>
				<ion-img *ngIf="passwordError" slot="end" class="icon-success-error" src="../../assets/icon/icon-data-form-invalid.svg"></ion-img>
			</ion-item>

			<ion-item class="list-item">
				<ion-img class="icon-input" src="../../assets/icon/icon-password.svg"></ion-img>
				<ion-input
					type="password"
					placeholder="Confirmar contraseña"
					name="confirmPassword"
					[(ngModel)]="dataRegistry.confirmPassword"
					(ngModelChange)="validateConfirmPassword($event)"
					clear-input
					class="input"
				></ion-input>
				<ion-img *ngIf="confirmPasswordOk" slot="end" class="icon-success-error" src="../../assets/icon/icon-data-form-valid.svg"></ion-img>
				<ion-img *ngIf="confirmPasswordError" slot="end" class="icon-success-error" src="../../assets/icon/icon-data-form-invalid.svg"></ion-img>
			</ion-item>
		</ion-list>
		<div class="content-terms-conditions">
			<span class="text">
				{{constants.REGISTRY.TERMS_AND_CONDITIONS}}
				<span class="terms-conditions">
					<a href="https://eyewallet.com" target="_BLANK" class="text-terms-conditions">
						{{constants.REGISTRY.TERMS_SERVICE}}
					</a>
					&
					<a href="https://eyewallet.com" target="_BLANK" class="text-terms-conditions">
						{{constants.REGISTRY.PRIVACY_POLICY}}
					</a>
				</span>
			</span>
		</div>

		<div class="content-button">
			<ion-button
				type="submit"
				text-capitalize
				[disabled]="disableButton"
				shape="round"
				[ngClass]="classButton"
				mode="ios"
			>
				{{constants.REGISTRY.BUTTON}}
			</ion-button>
		</div>
	</form>
</ion-content>
