<ion-content padding class="bghome" >
    <div class="move-logo">
        <ion-img class="resize-logo" src="../../assets/img/home-logo.svg"></ion-img>
    </div>
    <div>
      <p>Introduce tu pin de Seguridad</p>
    </div>
    <div>
      <ion-button (click)="onClick()">
        1
      </ion-button>
      <ion-button (click)="onClick()">
          2
      </ion-button>
      <ion-button (click)="onClick()">
          3
      </ion-button>
      <ion-button (click)="onClick()">
          4
      </ion-button>
      <ion-button (click)="onClick()">
          5
      </ion-button>
      <ion-button (click)="onClick()">
          6
      </ion-button>
      <ion-button (click)="onClick()">
          7
      </ion-button>
      <ion-button (click)="onClick()">
          8
      </ion-button>
      <ion-button (click)="onClick()">
          9
      </ion-button>
      <ion-button (click)="onClick()">
          0
      </ion-button>
    </div>

    <br>
    <ion-button href="/verification-success">
      Aceptar
    </ion-button>
</ion-content>
