@import '../../theme/variables.scss';

.bghome{
  --background: url('../../assets/img/bg-home.png') no-repeat center center / cover ;
  }

.move-logo{
  margin-top: 5vh;
  margin-left: 15vh;
}

.resize-logo {
  width: 60%;
}

.center{
  margin-top: 6vh;
  text-align: center;
  width: 100%;
  margin-left: -7vh
}

.text-eyewallet{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 34px;
  color: white;
}

.text-crypto{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 17px;
  color: white;
}

