@font-face {
  font-family: 'Poppins Regular';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 200;
  font-style: normal;
   font-family: 'Poppins-Regular';
   src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
   font-family: 'Poppins-Medium';
   src: url('../assets/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
   font-family: 'Poppins-SemiBold';
   src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
   font-family: 'Poppins-Bold';
   src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
   font-family: 'Roboto-Regular';
   src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
   font-family: 'Roboto-Medium';
   src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
   font-family: 'Roboto-Bold';
   src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
   font-family: 'OpenSans-Regular';
   src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
   font-family: 'OpenSans-SemiBold';
   src: url('../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf');
}

@font-face {
   font-family: 'OpenSans-Bold';
   src: url('../assets/fonts/Open_Sans/OpenSans-Bold.ttf');
}
