<ion-content class="bghome">
    <div (click)="closeModal(null)">
        <img style="margin-top: 2em;margin-left: 1em" src="../../assets/icon/icon-return-page.svg" alt="">
    </div>
    <div class="move-logo">
        <ion-img class="resize-logo" src="../../assets/img/home-logo.svg"></ion-img>
    </div>
    <div *ngIf="ctrlContent">
        <div style="padding: 10vw 8vw 6vw 8vw;; color: white">
            <ion-label>{{'VERIFICATION_MODAL_PAGE.VerifySecondFactor'| translate}}</ion-label>
            <ion-label>{{'VERIFICATION_MODAL_PAGE.CompleteProfile'| translate}}</ion-label>
        </div>
        <div class="content-terms-conditions">
			<span class="text">
				{{'GENERAL.ConfirmTerms'| translate}}
                <span class="terms-conditions">
					<a href="https://eyewallet.com" target="_BLANK" class="text-terms-conditions">
					{{'GENERAL.TermsOfService'| translate}}
					</a>
					&
					<a href="https://eyewallet.com" target="_BLANK" class="text-terms-conditions">
					{{'GENERAL.PrivacyPolicy'| translate}}
					</a>
				</span>
			</span>
        </div>
        <div class="move-btn">
            <ion-button class="btn-start" (click)="ctrlContent = false"
                        mode="ios">{{'VERIFICATION_MODAL_PAGE.StartNow'| translate}}</ion-button>
            <br>
            <ion-button class="btn-create" mode="ios"
                        (click)="goToCreateProfile()">{{'VERIFICATION_MODAL_PAGE.StartLatter'| translate}}</ion-button>
        </div>
    </div>
    <div *ngIf="!ctrlVerification">
        <div *ngIf="!ctrlContent">
            <div *ngIf="!ctrlInput">
                <div style="padding: 45px; color: white">
                    <h4>{{'VERIFICATION_MODAL_PAGE.VerifyTwoSteps'| translate}}</h4>
                    <p>{{'VERIFICATION_MODAL_PAGE.GrantAccessYourWallet'| translate}}</p>
                    <p>{{'VERIFICATION_MODAL_PAGE.UpgradeSecurity'| translate}}</p>
                </div>
                <div class="move-btn" *ngIf="!ctrlInput">
                    <ion-button class="btn-start" (click)="startVerification()"
                                mode="ios">{{'VERIFICATION_MODAL_PAGE.Enable'| translate}}</ion-button>
                    <br>
                    <ion-button *ngIf="profile.name" class="btn-create" mode="ios" (click)="goToCreateProfile()">
                        {{'VERIFICATION_MODAL_PAGE.StartLatter'| translate}}
                    </ion-button>
                </div>
            </div>
            <div *ngIf="ctrlInput">
                <div style="padding: 45px; color: white">
                    <p>  {{'VERIFICATION_MODAL_PAGE.AvoidUnauthorizedAccess'| translate}}
                        <br> {{'VERIFICATION_MODAL_PAGE.EnableStepsVerify'| translate}}
                    </p>
                    <p>{{'GENERAL.PhoneNumber'| translate}}</p>
                    <p>{{'VERIFICATION_MODAL_PAGE.EnableAuthorizationRequest'| translate}}</p>
                </div>
                <ion-item>{{profile.phone}}</ion-item>
                <div class="move-btn">
                    <ion-button class="btn-start" (click)="sendCodeVerification()"
                                mode="ios">{{'GENERAL.SendSMS'| translate}}</ion-button>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="ctrlVerification">
        <div style="padding: 45px; color: white">
            <h4>{{'VERIFICATION_MODAL_PAGE.VerifyTwoSteps'| translate}}</h4>
            <p>{{'VERIFICATION_MODAL_PAGE.InputVerificationCode'| translate}}</p>
            <p>{{'VERIFICATION_MODAL_PAGE.EnableAuthorizationRequest'| translate}}</p>
        </div>
        <ion-item>
            <ion-input type="number" [(ngModel)]="code" placeholder="Código" size="full"></ion-input>
        </ion-item>
        <div class="move-btn">
            <ion-button class="btn-start" (click)="verifyCode()" mode="ios">{{'GENERAL.Verify'| translate}}</ion-button>
            <ion-button class="btn-create" (click)="sendCodeVerification()" mode="ios">{{'GENERAL.ResendCode'| translate}}</ion-button>
            <br>
        </div>
    </div>
</ion-content>
