<ion-content padding class="bghome" [class.blur]="ctrlCssBlur">
   <app-return-page [path]="path"></app-return-page>

   <div>
      <ion-img class="resize-logo" src="../../assets/img/home-logo.svg"></ion-img>
      <div class="center">
         <ion-label class="text-eyewallet">EYEWALLET</ion-label>
         <br>
         <ion-label class="text-crypto">CRYPTO BANK</ion-label>
      </div>
   </div>

   <form #form="ngForm" (ngSubmit)="restorePassword()" class="transparent move-form">
      <ion-list class="transparent">
         <!-- Usuario -->
         <ion-item class="transparent white-line">
            <ion-img src="../../assets/icon/icon-user.svg" class="resize-icon"></ion-img>

            <ion-input
               name="pin"
               placeholder="Pin"
               [(ngModel)]="dataRestorePassword.pin"
               (ngModelChange)="validatePin($event)"
               clearInput
               type="password"
               class="white move-input"
            ></ion-input>
         </ion-item>

         <!-- Contraseña -->
         <ion-item class="transparent white-line">
            <ion-img src="../../assets/icon/icon-pass.svg" class="resize-icon"></ion-img>

            <ion-input
                  type="password"
                name="password"
                placeholder="{{'RESTORE.NewPassword' | translate}}"
                [(ngModel)]="dataRestorePassword.newPassword"
               (ngModelChange)="validateNewPassword($event)"
                clear-input
               class="white move-input"
            ></ion-input>

            <ion-img *ngIf="newPasswordOk" slot="end" class="icon-pass-success-error-ipsr" src="../../assets/icon/icon-data-form-valid.svg"></ion-img>
				<ion-img *ngIf="newPasswordError" slot="end" class="icon-pass-success-error-ipsr" src="../../assets/icon/icon-data-form-invalid.svg"></ion-img>
         </ion-item>

         <!-- Repita Contraseña -->
         <ion-item class="transparent white-line">
            <ion-img src="../../assets/icon/icon-pass.svg" class="resize-icon"></ion-img>

            <ion-input
               type="password"
               name="rewrite password"
               placeholder="{{'RESTORE.RepeatPassword' | translate}}"
               [(ngModel)]="dataRestorePassword.repeatNewPassword"
               (ngModelChange)="validateRepeatNewPassword($event)"
					clear-input
               class="white move-input"
            ></ion-input>

            <ion-img *ngIf="repeatNewPasswordOk" slot="end" class="icon-pass-success-error-ipsr" src="../../assets/icon/icon-data-form-valid.svg"></ion-img>
				<ion-img *ngIf="repeatNewPasswordError" slot="end" class="icon-pass-success-error-ipsr" src="../../assets/icon/icon-data-form-invalid.svg"></ion-img>
         </ion-item>
      </ion-list>

      <div class="move-btn">
         <ion-button
            type="submit"
            [disabled]="buttonDisabled"
            mode="ios"
            shape="round"
            [ngClass]="buttonDisabled ? 'button-disable' : 'button-enable'"
         >{{'RESTORE.UpdatePassword' | translate}}</ion-button>
      </div>
   </form>
</ion-content>
