  <div class="grid-graphic">
    <app-pocket class="pockets" [ctrlNavigation]="ctrlNavigation"></app-pocket>
    <img class="bg-profile" src="../../assets/images/bg-profile.png"> 
    <p class="move-cryptoPrice">{{cryptoCodes}} &nbsp; <span class="mainPrice">{{cryptoValue}}</span><span class="mainCurrency"> &nbsp; USDollar</span></p>
    <canvas class="move-graphic" #lineCanvas></canvas>
  </div>
<ion-content class="move-cryptoInfo">
  <ion-grid fixed class="padding-prices">
    <ion-row>
      <!-- Put ngFor here *ngFor="let cryptoPrice of cryptoPrices" -->
      <ion-col size="6" class="card-padding"  *ngFor="let cardPrice of cardPrices; index as index">
          <div class = {{cardPrice.cryptoClass}} (click)="selectCrypto(cardPrice.cryptoClass, index)">
            <img class="move-cryptoLogo {{cardPrice.fontClass}}" src={{cardPrice.cryptoImage}}>
            <img class="LogoBG" src={{cardPrice.cryptoImage}}>
            <!-- <img class="move-bgLogo" src={{cardPrice.cryptoImage}}> -->
            <div class= "priceDetails {{cardPrice.fontClass}}">
                <p class="cryptoName" >{{cardPrice.cryptoName}}</p>
                <p class="cryptoCode">{{cardPrice.cryptoCodes}}</p>
                <p class="cryptoPriceName">Precio</p>
                <p class="cryptoPrice">{{cardPrice.cryptoValue}}</p>
            </div>
          </div>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
