<app-pocket [typeSliding]="nameTypeSliding" [buttonLeft]="true" [buttonRight]="false"></app-pocket>

<ion-content class="ReceiveFundsPage backGroundGradient">
  <ion-card class="content-code-qr">
    <div class="code-qr-header">
      <span class="title">{{'GENERAL.Amount' | translate}}</span>

      <div class="content-icon-amount">
          <ion-img src="../../assets/icon/icon-bitcoin.svg" class="icon"></ion-img>
          <span class="amount">{{amount}}</span>
      </div>
    </div>

    <div class="content-qr-body">
      <div class="content-code-qr-chil">
        <img
          src="https://chart.googleapis.com/chart?chld=M|0&chs=200x200&cht=qr&chl={{codeQr}}"
          class="sc-ion-card-md-s style-qr"
        />
      </div>

      <div class="content-buttons-qr center">
        <ion-button
          expand="full"
          shape="round"
          text-capitalize
          (click)="copyCode()"
          class="button-copy-text"
        >
        <ion-ripple-effect></ion-ripple-effect>
          {{'GENERAL.Copy' | translate}}
        </ion-button>
        <span class="input">{{codeQr}}</span>

      </div>
    </div>
  </ion-card>
</ion-content>
