@import '../../global.scss';

.ReceiveFundsPage {
   --padding-start: 30px;
   @extend .padding-top-sliding;
   --padding-end: 30px;
   --padding-bottom: 70px;
   box-sizing: border-box;

   .content-code-qr {
      background: white;
      padding: 40px 20px;
      box-shadow: none;
      border-radius: 16px;
      height: 100%;
      width: 100%;
      margin: 0 auto;

      .code-qr-header {
         width: 100%;
         @extend .all-center-colum;

         .title {
            color: #2B2A5B;
            text-transform: capitalize;
            font-family: $font-roboto-bold;
            font-size: 23px;
         }

         .content-icon-amount {
            width: 100%;
            @extend .all-center;
            margin-top: 20px;

            .icon {
               width: 26px;
               margin: 0 16px 0 0;
            }

            .amount {
               color: #6091FB;
               font-family: $font-regular;
               font-size: 18px;
            }
         }
      }

      .content-qr-body {
         margin: 50px 0;

         .content-code-qr-chil {
            width: 100%;
            @extend .all-center;
            margin-bottom: 50px;

            .sc-ion-card-md-s img, .style-qr {
               width: 270px;
            }
         }

         .content-buttons-qr {
            width: 100%;

            .button-copy-text {
               --background: #7DDC97 !important;
               --background: -webkit-linear-gradient(to right, #7DDC97, #84EAE8) !important;
               --background: linear-gradient(to right, #7DDC97, #84EAE8) !important;

               --background-activated: #7DDC97 !important;
               --background-activated: -webkit-linear-gradient(to right, #7DDC97, #84EAE8) !important;
               --background-activated: linear-gradient(to right, #7DDC97, #84EAE8) !important;


               font-family: $font-semibold;
               font-size: 16px;
               margin-bottom: 24px;
            }

            .input {
               display: block;
               width: 100%;
               padding: 10px;
               box-sizing: border-box;
               background: white;
               color: #97B4E7;
               font-family: $font-regular;
               font-size: 12px;
               white-space: nowrap;
               text-overflow: ellipsis;
               overflow: hidden;
               border: solid 1px #3D95FF !important;
               border-radius: 20px;
               margin-bottom: 16px;
            }
         }
      }
   }
}
