<ion-content class="ReceiveFundsPage backGroundGradient">
  <app-pocket [ctrlNavigation]="ctrlNavigation"></app-pocket>

  <ion-card class="content-code-qr">

    <div class="code-qr-header">
      <span class="title">Balance</span>

      <div class="content-icon-amount">
          <ion-img src="../../assets/icon/icon-bitcoin.svg" class="icon"></ion-img>
          <span class="amount">{{amount}}</span>
      </div>
    </div>

    <div class="content-qr-body">

      <div class="content-code-qr-chil">
        <img
          src="https://chart.googleapis.com/chart?chld=M|0&chs=200x200&cht=qr&chl={{codeQr}}"
          class="sc-ion-card-md-s style-qr"
        />

      </div>

      <div class="content-buttons-qr center">
        <ion-button
          expand="full"
          shape="round"
          text-capitalize
          (click)="copyCode()"
          class="button"
        >
          {{buttonCopy}}
        </ion-button>
        <span style="font-size: 10px" class="input">{{codeQr}}</span>
        <!--<input type="text" [value]="codeQr" class="input">-->

      </div>

    </div>

  </ion-card>

</ion-content>
