.resize-logo {
  width: 6%;
  top: 5%;
  left: 35%;
  display:block;
  margin:auto;
  position: absolute;

}
.resize-text {
  top: 5%;
  left: 42%;
  display:block;
  margin:auto;
  position: absolute;
}

.resize-logo-left1{
  width: 100%;
  top:3.5%;
  position: absolute;
  right: 90%;
}
.resize-logo-close{
  width: 100%;
  top:3.5%;
  position: absolute;
  right: 90%;
}

.resize-logo-left{
  width: 100%;
  top:2%;
  position: absolute;
  right: 70%;
}

.resize-logo-right{
  width: 20%;
  /* top: 17.5%; */
  /* position: absolute; */
}

.text-moneda{
  margin-top:5%;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: black;
  font-size: 34px;
}

.center{
  top:10%;
  text-align: center;
  width: 100%;
}

.contentdash{
  top:10%;
}

.z-pocket {
  position: relative;
  z-index: 99;
}
.logOut-button{
  float: right;
  margin-right: -109%;
  border-radius: 30px 0 0 30px;
  width: 150%;
  height: 50px;
  background: white;
}
.add-card-button{
  float: right;
  margin-right: -102%;
  border-radius: 30px 0 0 30px;
  width: 150%;
  height: 50px;
  background: white;
  border: 2px solid #27E3C9;
}

.qualify-button{
  float: left;
  margin-left: -80%;
  border-radius: 0 30px 30px 0;
  width: 125%;
  height: 50px;
  background: white;
}
.active-card-button{
  float: left;
  margin-left: -75%;
  border-radius: 0 30px 30px 0;
  width: 125%;
  height: 50px;
  background: white;
  border: 2px solid #5496FF;
}
.image-logout{
  width: 10%;
  /* top: 17.5%; */
  /* position: absolute; */
}
.image-add-card{
  width: 20%;
  /* top: 17.5%; */
  /* position: absolute; */
}
.text-qualify{
  color: black;
  margin: 0 7px 0 0;
}
.text-activate-card{
  color: #5496FF;
  margin: 0 7px 0 0;
}
.text-add-card{
  margin-right: 19%;
  margin-left: 5%;
  color: #27E3C9;
}
.image-qualify{
  width: 20%;
}
.button-send{
   float: right;
   margin-right: -60%;
   border-radius: 30px 0 0 30px;
   width: 100%;
   height: 50px;
   background: -moz-linear-gradient(top, rgba(65,218,156,1) 0%, rgba(21,233,233,1) 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(65,218,156,1)), color-stop(100%, rgba(21,233,233,1)));
   background: -webkit-linear-gradient(top, rgba(65,218,156,1) 0%, rgba(21,233,233,1) 100%);
   background: -o-linear-gradient(top, rgba(65,218,156,1) 0%, rgba(21,233,233,1) 100%);
   background: -ms-linear-gradient(top, rgba(65,218,156,1) 0%, rgba(21,233,233,1) 100%);
   background: linear-gradient(to bottom, rgba(65,218,156,1) 0%, rgba(21,233,233,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41da9c', endColorstr='#15e9e9', GradientType=0 );
 }
.button-send:hover{
  transform: translate(-60%, 0%);
  transition: transform 1s linear;
}
.button-back{
  float: left;
  margin-left: -65%;
  border-radius: 0 30px 30px 0;
  width: 100%;
  height: 50px;
  background: white;
}
.button-receive{
  float: left;
  margin-left: -65%;
  border-radius: 0 30px 30px 0;
  width: 100%;
  height: 50px;
  background: rgba(255,124,110,1);
  background: -moz-linear-gradient(top, rgba(255,124,110,1) 0%, rgba(244,49,127,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,124,110,1)), color-stop(100%, rgba(244,49,127,1)));
  background: -webkit-linear-gradient(top, rgba(255,124,110,1) 0%, rgba(244,49,127,1) 100%);
  background: -o-linear-gradient(top, rgba(255,124,110,1) 0%, rgba(244,49,127,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,124,110,1) 0%, rgba(244,49,127,1) 100%);
  background: linear-gradient(to bottom, rgba(255,124,110,1) 0%, rgba(244,49,127,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7c6e', endColorstr='#f4317f', GradientType=0 );
}
@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
