<div class="sliding-header sliding-header-{{ typeSliding.id }}">
  <div class="content-header">
    <div class="content-button-sliding">
      <ion-item-sliding *ngIf="buttonLeft" (ionDrag)="slidingLeft($event)" class="button-sliding">
        <ion-item class="item-sliding item-sliding-left content-text-image-left-{{ typeSliding.id }}">
          <div class="content-text-image content-text-image-left">
            <span class="text text-left text-left-{{ typeSliding.id }}">{{ typeSliding.left }}</span>
            <img src="../../assets/img/pocketsComponent/{{ typeSliding.id }}-icon-left.svg" alt="receive-icon" class="image image-left">
          </div>
        </ion-item>
        <ion-item-options class="sliding-options" side="start">
        </ion-item-options>
      </ion-item-sliding>
    </div>

    <div class="content-center">
      <img  *ngIf="titleTypeSliding" src="../../../assets/img/pocketsComponent/{{ typeSliding.id }}-icon.svg" alt="title-icon" class="title-icon">
      <span *ngIf="titleTypeSliding" (click)="openPocketsModal()" class="title-text title-text-{{ typeSliding.id }}">{{ titleTypeSliding }}</span>
    </div>

    <div class="content-button-sliding">
      <ion-item-sliding *ngIf="buttonRight" (ionDrag)="slidingRight($event)" class="button-sliding">
        <ion-item class="item-sliding item-sliding-right content-text-image-right-{{ typeSliding.id }}">
          <div class="content-text-image content-text-image-right">
            <img src="../../assets/img/pocketsComponent/{{ typeSliding.id }}-icon-right.svg" alt="receive-icon" class="image image-right">
            <span class="text text-right text-right-{{ typeSliding.id }}">{{ typeSliding.right }}</span>
          </div>
        </ion-item>
        <ion-item-options class="sliding-options" side="end">
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </div>
</div>
