.resize-logo {
  width: 6%;
  top: 5%;
  left: 35%;
  display:block;
  margin:auto;
  position: absolute;

}
.resize-text {
  top: 5%;
  left: 42%;
  display:block;
  margin:auto;
  position: absolute;
}

.resize-logo-left1{
  width: 100%;
  top:3.5%;
  position: absolute;
  right: 90%;
}
.resize-logo-close{
  width: 100%;
  top:3.5%;
  position: absolute;
  right: 90%;
}

.resize-logo-left{
  width: 100%;
  top:2%;
  position: absolute;
  right: 70%;
}

.resize-logo-right{
  width: 100%;
  top:3.5%;
  position: absolute;
  left: 90%
}

.text-moneda{
  margin-top:5%;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: black;
  font-size: 34px;
}

.center{
  top:10%;
  text-align: center;
  width: 100%;
}

.contentdash{
  top:10%;
}

.z-pocket {
  position: relative;
  z-index: 99;
}
