<ion-content class="request-credit-card">
  <div [ngClass]="showContentLogo ? 'content-logo' : 'animated content-logo-display'">
    <ion-img src="../../assets/img/home-logo.svg" class="image"></ion-img>
  </div>

  <div [ngClass]="showContentLogo ? 'content-text-card-form' : 'animated content-text-card-form-display'">
    <div class="content-text-icon content-icon-text-up">
      <span class="text">Solicitar tarjeta</span>
      <ion-img src="../../assets/icon/icon-request-card.svg" (click)="showForm()" class="icon"></ion-img>
    </div>
  
    <div class="content-image-card">
      <ion-img src="../../assets/images/image-card.svg"></ion-img>
    </div>
  
    <div class="content-form">
      <ion-list>
        <ion-item *ngFor="let item of itemsDataProfile | keyvalue">
          <ion-label>{{item}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
