<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Perfil del usuario
            <app-pocket [pockets]="pockets"></app-pocket>
            <p style="font-size: 12px">
                <ion-icon name="stopwatch"></ion-icon>
                {{temporizador.minutos}} minutos {{temporizador.segundos}} segundos
            </p>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-avatar style="margin-left: 45%; margin-right: 45%">
        <img src="https://via.placeholder.com/150">
    </ion-avatar>
    <ion-card>
        <ion-card-header>
            <h4>Información personal</h4>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
    </ion-card>

</ion-content>
