<div class="grid">
    <app-pocket class="pockets" [ctrlNavigation]="ctrlNavigation"></app-pocket>
    <img class="bg-profile" src="../../assets/images/bg-profile.png">
    <img class="move-profile" src="../../assets/images/profilePage/backProfile.svg"/>
    <img class="move-profilePic" [src]="avatar"/>
    <p class="move-name">{{profileShow.fullName}}</p>
    <!-- <img class="move-engine" src="../../assets/images/profilePage/engine.svg"> -->
    <img type="submit" class="move-add" (click)="photo()" src="../../assets/images/profilePage/add-profile-img.svg"/>
</div>

<ion-content class="move-profileInfo" [fullscreen]="true" style="background: none transparent;">
    <ion-item>
        <ion-label class="labels">ID</ion-label>
        <p class="text">{{profileShow.id}}</p>
    </ion-item>
    <ion-item>
        <ion-label class="labels">{{'PROFILE.Phone' | translate}}</ion-label>
        <p class="text">{{profileShow.phone}}</p>
    </ion-item>
    <ion-item>
        <ion-label class="labels">{{'PROFILE.Register' | translate}}</ion-label>
        <p class="text">{{profileShow.date}}</p>
    </ion-item>
    <ion-item>
        <ion-label class="labels">{{'GENERAL.Country' | translate}}</ion-label>
        <p class="text">{{profileShow.country}}</p>
    </ion-item>
    <ion-item>
        <ion-label class="labels">Email</ion-label>
        <p class="text">{{profileShow.mail}}</p>
    </ion-item>
    <ion-item>
        <ion-label class="labels">{{'GENERAL.Language' | translate}}</ion-label>
        <ion-select (ionChange)="selectLanguage()" [value]="selectedLanguage" [(ngModel)]="selectedLanguage" class="text">
            <ion-select-option [value]="language.value"
                               *ngFor="let language of languages" mode="md" class="text">{{language.text}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label class="labels">{{'GENERAL.Version' | translate}}</ion-label>
        <p class="text-blue">0.0.7</p>
    </ion-item>
    <ion-item class="item-second">
        <p (click)="secondFactor()" class="text-second"><img src="../../assets/images/profilePage/secondFactor.svg">&nbsp; {{'PROFILE.SecondFactor' | translate}}
        </p>
    </ion-item>
    <ion-item class="item-second">
        <p (click)="eyewalletWeb()" class="text-second"><img src="../../assets/images/profilePage/EyeWeb.svg"> &nbsp;
            Eyewallet Web</p>
    </ion-item>
    <ion-item class="item-images">
        <img (click)="notifications()" src="../../assets/images/profilePage/notifications.svg" class="pad-lr">
        <img (click)="safety()" src="../../assets/images/profilePage/safety.svg" class="pad-lrs">
        <img (click)="terms()" src="../../assets/images/profilePage/terms.svg" class="pad-lr">
        <img (click)="invite()" src="../../assets/images/profilePage/friends.svg" class="pad-lr">
    </ion-item>
    <ion-item class="item-notifications" *ngIf="userVerifications.email === 0">
        <p class="mail-verify">{{'PROFILE.unverifiedMail' | translate}}</p>
        <p (click)="sendMail()" class="mail-sendMail">{{'PROFILE.ReSendMail' | translate}}</p>
    </ion-item>
    <ion-item class="item-notifications" *ngIf="userVerifications.email === 1">
        <p class="mail-verify-success">{{'PROFILE.VerifiedMail' | translate}}</p>
    </ion-item>
    <ion-item class="item-delete">
        <p (click)="deleteAccount()" class="delete-account">{{'PROFILE.DeleteAccount' | translate}}</p>
    </ion-item>
</ion-content>
