<ion-content>
    <app-pocket [ctrlNavigation]="ctrlNavigation"></app-pocket>
<ion-grid class="no-padding">
    <ion-row>

        <ion-col class="no-padding">
                    <img class="bg-profile" src="../../assets/images/bg-profile.png">
                <div class="absolute">
                    <img class="move-profile" src="../../assets/images/profilePage/backProfile.svg">
                    <img class="move-profilePic" src="../../assets/images/profilePage/profilePic.svg">
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="move-name">
            <p>{{profileShow.fullName}}</p>
            <!-- <img class="move-engine" src="../../assets/images/profilePage/engine.svg"> -->
            <img class="move-add" src="../../assets/images/profilePage/add-profile-img.svg">
        </ion-row>
</ion-grid>
</ion-content>
<ion-content class="move-profileInfo">
    <ion-item>
        <ion-label class="labels">ID</ion-label>
            <p class="text">{{profileShow.id}}</p>
    </ion-item>
    <ion-item>
        <ion-label class="labels">Celular</ion-label>
            <p class="text">{{profileShow.phone}}</p>
    </ion-item>
    <ion-item>
        <ion-label class="labels">Registro</ion-label>
            <p class="text">{{profileShow.date}}</p>
    </ion-item>
    <ion-item>
        <ion-label class="labels">País</ion-label>
            <p class="text">{{profileShow.country}}</p>
    </ion-item>
    <ion-item>
        <ion-label class="labels">Email</ion-label>
            <p class="text">{{profileShow.mail}}</p>
    </ion-item>
    <ion-item>
        <ion-label class="labels">Versión</ion-label>
            <p class="text-blue">3.0.0</p>
    </ion-item>
    <ion-item class="item-second">
        <p class="text-second"> <img src="../../assets/images/profilePage/secondFactor.svg">&nbsp; Segundo Factor</p>
    </ion-item>
    <ion-item class="item-second">
        <p class="text-second"><img src="../../assets/images/profilePage/EyeWeb.svg"> &nbsp; Eyewallet Web</p>
    </ion-item>
    <ion-item class="item-images">
        <img src="../../assets/images/profilePage/notifications.svg" class="pad-lr">
        <img src="../../assets/images/profilePage/safety.svg" class="pad-lr">
        <img src="../../assets/images/profilePage/terms.svg" class="pad-lr">
        <img src="../../assets/images/profilePage/friends.svg" class="pad-lr">
    </ion-item>
    <ion-item class="item-verify">
        <p class="mail-verify">Tu correo no está verificado!</p>
    </ion-item>
    <ion-item class="item-sendMail">
            <p class="mail-sendMail">Reenviar correo</p>
    </ion-item>
    <ion-item class="item-delete">
        <p class="delete-account">Eliminar Cuenta</p>
    </ion-item>
</ion-content>
