@media (max-height:568px) and (min-height:480px) {
  .space{
    margin: 0% 5% 0% 5% !important;
  }
}

@media (max-height:667px) and (min-height:568px) {
  .space{
    margin: 10% 5% 10% 5% !important;
  }
}

@media (max-height:736px) and (min-height:668px) {
  .space{
    margin: 15% 5% 15% 5% !important;
  }
}

@media (max-height:812px) and (min-height:737px) {
  .space{
    margin: 30% 5% 30% 5% !important;
  }
}
.space{
  margin: 10% 5% 10% 5%;
}

.pin-none{
  border: 2px solid white;
  height: 5vw;
  border-radius: 50px;
  width: 5vw;
  --ion-background-color:transparent;
}

.pin-ok{
  border: 2px solid white;
  height: 5vw;
  border-radius: 50px;
  width: 5vw;
  --ion-background-color:white;
}
.imgLogo{
  width: 40%;
  height: 40%;
  padding: 1.8vw 0vw 4vw 0vw;
  margin: auto;
  display: block;
}

.round {
  --width: 60px;
  --height: 107%;
  --border-radius: 50%;
  --vertical-align: middle;
  --padding-start: 10px;
  /* --padding-end: 10px; */
  height: 80px;
}

ion-col{
  padding: 0;
}

.background-image{
  --background: linear-gradient(#14a9ff 8%, #2b84ff 51.26%, #8000ff 191%);
  --background-size: cover;
}
ion-list{
  background: transparent;
}
// margin: 4vh 5vw 10vh 5vw;
.btnNoShadow{
  --box-shadow: none;
  display: grid;
  grid-template: auto auto / auto;
}

ion-button {
  --background: rgba(47, 112, 191, 0.29);
  border: none;
  --box-shadow: none;
}

h6{
  font-weight: bold;
  color: white;
  opacity: 1;
  text-decoration: none;
  --background: rgba(255, 255, 255, 1)
}

ion-label{
  color: white;
}

ion-row{
  padding: 0 30px 0 20px;
}

ion-col{
  border: none;
}


