.pin-none{
  border: 2px solid white;
  height: 40px;
  border-radius: 50px;
  width: 40px;
  --ion-background-color:transparent;
}

.pin-ok{
  border: 2px solid white;
  height: 40px;
  border-radius: 50px;
  width: 40px;
  --ion-background-color:white;
}
.imgLogo{
  height: 70vh;
  width: auto;
  margin: auto;
  display: block;
}

.round {
  --width: 60px;
  --height: 107%;
  --border-radius: 50%;
  --vertical-align: middle;
  --padding-start: 10px;
  /* --padding-end: 10px; */
  height: 100px;
}

ion-col{
  padding: 0px;
}

.background-image{
  --background: url(../../assets/img/touchId/backGroundTouch.svg) no-repeat center center / cover;
  --background-size: cover;
}
ion-list{
  background: transparent;
}

.btnNoShadow{
  --box-shadow: none
}

ion-button {
  --background: rgba(47, 112, 191, 0.29);
  border: none;
}

h1{
  font-weight: bold;
  color: white;
  opacity: 1;
  text-decoration: none;
  --background: rgba(255, 255, 255, 1)
}

ion-label{
  color: white;
}

ion-row{
  padding: 0 30px 0 20px;
}

ion-col{
  border: none;
}


