<ion-content  class="background-image">
<div class="space">
      <ion-list text-center>
        <ion-grid  text-center>
          <ion-col text-center>
          <ion-label>
            <img class="imgLogo" style="width: 40%; height: 40%;" src="./assets/img/touchId/eyewalletIcon.svg" />
          </ion-label>
          </ion-col>
          <ion-col>
            <ion-label *ngIf="ctrlPin" text-center>
              <h6>Introduce tu pin de Seguridad</h6>
            </ion-label>
            <ion-item *ngIf="!ctrlPin" text-center style="--background: transparent !important; --border-color: transparent">
                  <img style="width: 25%;height: 25%; margin-right: -6%; margin-left: 6%; margin-top: 2%;" src="./assets/img/touchId/errorPin.svg" />
                  <h6 style="font-size: 3.7vw">Pin de seguridad incorrecto</h6>
            </ion-item>
          </ion-col>
        </ion-grid>
      </ion-list>
      <ion-list>
       <ion-grid style="padding-left: 14vw;
       padding-right: 6vw;">
         <ion-row>
           <ion-col>
             <ion-item text-center [ngClass]="{'pin-ok': pin.length >= 1, 'pin-none': pin.length <= 0}">
  
             </ion-item>
           </ion-col>
           <ion-col align-self-center>
             <ion-item text-center [ngClass]="{'pin-ok': pin.length >= 2, 'pin-none': pin.length <= 1}">
    
             </ion-item>
           </ion-col>
           <ion-col align-self-center>
             <ion-item text-center [ngClass]="{'pin-ok': pin.length >= 3, 'pin-none': pin.length <= 2}">
    
             </ion-item>
           </ion-col>
           <ion-col align-self-center>
             <ion-item text-center [ngClass]="{'pin-ok': pin.length >= 4, 'pin-none': pin.length <= 3}">
    
             </ion-item>
           </ion-col>
           <ion-col align-self-center>
             <ion-item text-center [ngClass]="{'pin-ok': pin.length >= 5, 'pin-none': pin.length <= 4}">
    
             </ion-item>
           </ion-col>
           <ion-col align-self-center>
             <ion-item text-center [ngClass]="{'pin-ok': pin.length >= 6, 'pin-none': pin.length <= 5}">
    
             </ion-item>
           </ion-col>
         </ion-row>
       </ion-grid>
      </ion-list>
</div>
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-button (click)="savePinData(1)" class="round ion-no-margin ion-no-padding btnNoShadow" color="transparent"  expand="full">
            <h1 class="number-abc">1</h1>
          </ion-button>
        </ion-col>
        <ion-col text-center>
          <ion-button (click)="savePinData(2)" class="round ion-no-margin ion-no-padding btnNoShadow" color="transparent"  expand="full">
            <div class="ping-abc">
            <h1 class="number-abc">2</h1>
              <div class="size-abc">
              ABC
              </div>
            </div>
          </ion-button>
        </ion-col>
        <ion-col text-center>
          <ion-button (click)="savePinData(3)" class="round ion-no-margin ion-no-padding btnNoShadow" color="transparent"   expand="full">
            <div class="ping-abc">
            <h1 class="number-abc">3</h1>
              <div class="size-abc">
              DEF
              </div>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-button (click)="savePinData(4)" class="round ion-no-margin ion-no-padding btnNoShadow" color="transparent"  expand="full">
            <div class="ping-abc">
            <h1 class="number-abc">4</h1>
              <div class="size-abc">
              GHI
              </div>
            </div>
          </ion-button>
        </ion-col>
        <ion-col text-center>
          <ion-button (click)="savePinData(5)" class="round ion-no-margin ion-no-padding btnNoShadow" color="transparent"  expand="full">
            <div class="ping-abc">
            <h1 class="number-abc">5</h1>
              <div class="size-abc">
              JKL
              </div>
            </div>
          </ion-button>
        </ion-col>
        <ion-col text-center>
          <ion-button (click)="savePinData(6)" class="round ion-no-margin ion-no-padding btnNoShadow" color="transparent"  expand="full">
            <div class="ping-abc">
            <h1 class="number-abc">6</h1>
              <div class="size-abc">
              MNO
              </div>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-nowrap" text-center>
          <ion-button (click)="savePinData(7)" class="round ion-no-margin ion-no-padding btnNoShadow" color="transparent"  expand="full">
            <div class="ping-abc">
            <h1 class="number-abc">7</h1>
              <div class="size-abc">
              PQRS
              </div>
            </div>
          </ion-button>
        </ion-col>
        <ion-col class="ion-nowrap" text-center>
          <ion-button (click)="savePinData(8)" class="btnNoShadow round ion-no-margin ion-no-padding"  color="transparent"  expand="full">
            <div class="ping-abc">
            <h1 class="number-abc">8</h1>
              <div class="size-abc">
              TUV
              </div>
            </div>
          </ion-button>
        </ion-col>
        <ion-col class="ion-nowrap" no-margin nowrap text-center>
          <ion-button (click)="savePinData(9)" class="btnNoShadow round ion-no-margin ion-no-padding" color="transparent"   expand="full">
            <div class="ping-abc">
            <h1 class="number-abc">9</h1>
              <div class="size-abc">
              WXYZ
              </div>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
         <ion-button (click)="showFingerPrint()" class="round ion-no-margin ion-no-padding btnNoShadow" color="transparent" expand="full">
           <img width="50%" src="./assets/img/touchId/touch.svg" />
         </ion-button>
        </ion-col>
        <ion-col text-center class="ion-nowrap">
          <ion-button  class="round ion-no-margin ion-no-padding btnNoShadow" (click)="savePinData(0)" color="transparent"  expand="full">
            <div class="ping-abc">
            <h1 class="number-abc">0</h1>
              <div class="size-abc">
              +
              </div>
            </div>
          </ion-button>
        </ion-col>
        <ion-col text-center>
          <ion-button class="round ion-no-margin ion-no-padding btnNoShadow" (click)="deletePinData()" color="transparent" expand="full">
            <img width="50%" src="./assets/img/touchId/deletePin.svg" />
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
