@import '../../global.scss';

.background-image {
  --background: linear-gradient(45deg, #b87dff -10%, #86a6f7 70%, #6fbafc 120%) !important;

  .content-logo-icon {
    @extend .all-center;
    padding: 60px 0 60px 0;

    .logo-icon {
      width: 40%;
    }
  }

  .content-texts-error {
    @extend .all-center;

    .icon-error {
      margin: 0 6px 0 0;
    }

    .text-message {
      font-family: $font-semibold;
      font-size: 15px;
      color: white;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .space {
    padding: 20px 40px;
    @extend .center-space-around;

    .pin-none {
      border: 2px solid white;
      height: 5vw;
      width: 5vw;
      border-radius: 50px;
    }
    
    .pin-ok {
      background:white;
      height: 5vw;
      width: 5vw;
      border-radius: 50px;
    }
  }

  .content-buttons-grid {
    padding: 0;

    .content-buttons-row {
      padding: 0 30px;
    }
  }
}

.imgLogo{
  width: 40%;
  height: 40%;
  padding: 1.8vw 0vw 4vw 0vw;
  margin: auto;
  display: block;
}

.round {
  --width: 60px;
  --height: 107%;
  --border-radius: 50%;
  --vertical-align: middle;
  --padding-start: 10px;
  height: 80px;
}

ion-col{
  padding: 0;
}


ion-list{
  background: transparent;
}

.btnNoShadow{
  --box-shadow: none;
  grid-template: auto auto / auto;
}

ion-button {
  --background: rgba(47, 112, 191, 0.29);
  border: none;
  --box-shadow: none;
}

ion-label{
  color: white;
}

ion-row{
  padding: 0 30px 0 20px;
}

ion-col {
  border: none;
}

.pin-number-text {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .pin-number {
    font-family: $font-roboto-regular;
    font-size: 26px;
  }

  .pin-text {
    position: absolute;
    margin: 18px 0 0 0;
    font-family: $font-roboto-regular;
    font-size: 10px;
    letter-spacing: 0.5px;
    font-weight: 100;
  }
}

.size-abc {
  font-size: 10px;
  font-weight: 100;
}

.number-abc {
margin-bottom: -2px;
}

.ion-no-padding {
  --padding-start: 0;
}

.touch-effect {
  border-radius: 10px !important;
}
