.pin-none{
  border: 2px solid white;
  height: 25px;
  border-radius: 50px;
  width: 25px;
  --ion-background-color:transparent;
}

.pin-ok{
  border: 2px solid white;
  height: 25px;
  border-radius: 50px;
  width: 25px;
  --ion-background-color:white;
}
.imgLogo{
  width: 40%;
  height: 40%;
  padding: 10vw 0vw 10vw 0vw;
  margin: auto;
  display: block;
}

.round {
  --width: 60px;
  --height: 107%;
  --border-radius: 50%;
  --vertical-align: middle;
  --padding-start: 10px;
  /* --padding-end: 10px; */
  height: 80px;
}

ion-col{
  padding: 0;
}

.background-image{
  --background: linear-gradient(#14a9ff 8%, #2b84ff 51.26%, #8000ff 191%);
  --background-size: cover;
}
ion-list{
  background: transparent;
}

.btnNoShadow{
  --box-shadow: none
}

ion-button {
  --background: rgba(47, 112, 191, 0.29);
  border: none;
  --box-shadow: none;
}

h6{
  font-weight: bold;
  color: white;
  opacity: 1;
  text-decoration: none;
  --background: rgba(255, 255, 255, 1)
}

ion-label{
  color: white;
}

ion-row{
  padding: 0 30px 0 20px;
}

ion-col{
  border: none;
}


