<app-pocket [typeSliding]="nameTypeSliding" labelTextLeft="{{ 'POCKETS_COMPONENT.History' | translate }}" labelTextRight="{{ 'POCKETS_COMPONENT.Send' | translate }}" [titleTypeSliding]="pocket?.label" [buttonLeft]="true" [buttonRight]="true"></app-pocket>
<ion-content [class.blur]="ctrlCssBlur" class="dashboard">
  <app-sliders *ngIf="crypto.length > 0" [dataVerificationA]="dataVerification" (emitterTransactionRefresh)="refreshTransactions($event)"  (changeCryptoPocket)="changeDataPocketSlider($event)" [transactions]="transactionComponent"  [name]="crypto"></app-sliders>
</ion-content>
