<ion-header no-border>
    <!--<ion-toolbar>
        <ion-img  [class]="classLeft" [src]="imgLeft" (click)="enviar()"></ion-img>
        <ion-img class="resize-logo" src="../../assets/img/dashboard-logo.svg"></ion-img>
        <ion-img class="resize-logo-right" [src]="imgRight" (click)="recibir()" *ngIf="imgRight"></ion-img>
      </ion-toolbar>-->
</ion-header>

<ion-content class="bgdashboard">
  <div class="contentdash">
      <ion-img  [class]="classLeft" [src]="imgLeft" (click)="enviar()"></ion-img>
      <ion-img class="resize-logo" src="../../assets/img/dashboard-logo.svg"></ion-img>
      <ion-img class="resize-logo-right" [src]="imgRight" (click)="recibir()" *ngIf="imgRight"></ion-img>
    <br>
    <br>
    <br>
    <br>
      <div class="center">
          <ion-label class="text-moneda">Bitcoin</ion-label>
      </div>
  </div>
    
    
    
</ion-content>
