
.bgdashboard1{
    // --background:  url('../../assets/img/bg-dashboard.png');
    // --background-repeat: no-repeat;
    --background: rgba(255,255,255,1);
    --background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(223,225,237,1) 75%, rgba(204,207,226,1) 100%);
    --background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(75%, rgba(223,225,237,1)), color-stop(100%, rgba(204,207,226,1)));
    --background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(223,225,237,1) 75%, rgba(204,207,226,1) 100%);
    --background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(223,225,237,1) 75%, rgba(204,207,226,1) 100%);
    --background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(223,225,237,1) 75%, rgba(204,207,226,1) 100%);
    --background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(223,225,237,1) 75%, rgba(204,207,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccfe2', GradientType=0 );
    //background-image: linear-gradient(rgba(20, 169, 255, 0.6) 0%, rgba(43, 132, 255, 0.6) 21.26%, rgba(128, 0, 255, 0.6) 180%);

}
//
//ion-content{
//--ion-background-color:  linear-gradient(hsl(180, 33%, 98%) 0%, #fafbfc 70.26%, rgba(128, 0, 255, 0.6) 180%);
//}


.resize-logo {
    width: 30%;
    top: 5%;
    left: 35%;
    display:block;
margin:auto;
position: absolute;

}

.resize-logo-left1{
    width: 30%;
    top:3.5%;
    position: absolute;
    right: 90%;
}

.resize-logo-left{
    width: 30%;
    top:2%;
    position: absolute;
    right: 70%;
}

.resize-logo-right{
    width: 10%;
    top:3.5%;
    position: absolute;
    left: 90%
}

.text-moneda{
    margin-top:5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 34px;
}

.center{
    top:10%;
    text-align: center;
    width: 100%;
}

.logo-card{
    width: 50%;
}

