@import './theme/variables.scss';

// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Variables.
$font-medium: Poppins-Medium;
$font-semibold: Poppins-SemiBold;
$font-regular: Poppins-Regular;

.button-enable {
   --background: #4C6AC0;
   font-family: $font-medium;
   --color: white;
   font-size: 18px !important;
}

.button-disable {
   --background: #4C6AC0;
   font-family: $font-medium;
   --color: white;
   font-size: 18px !important;
}

.bghome{
   --background:  url('/assets/img/bg-home.png');
   --background-repeat: no-repeat;
}

.move-logo{
   margin-top: 5vh;
   margin-left: 15vh;
}

.resize-logo {
   width: 60%;
}

.text-eyewallet{
   font-family: 'Poppins', sans-serif;
   letter-spacing: 2px;
   font-weight: 500;
   font-size: 34px;
   color: white;
}

.text-crypto{
   font-family: 'Poppins', sans-serif;
   letter-spacing: 5px;
   font-weight: 500;
   font-size: 17px;
   color: white;
}
.move-form{
   margin-top: 6.5vh;
   margin-bottom: 6.5vh;
}


.transparent{
   --background: transparent !important;
   background: transparent !important;
}

.resize-icon{
   width: 5%;
}

.white{
   --placeholder-color: white;
   color: white
}


.move-input{
   margin-left: 4vw
}

.btn-start{
   --background: #4C6AC0;
   --background-activated: linear-gradient(45deg, #7300FF -10%, #5584FF 70%, #4DAAFF 120%) !important;
   --background-hover: linear-gradient(45deg, #7300FF -10%, #5584FF 70%, #4DAAFF 120%) !important;
   --padding-start: 15vh;
   --padding-end: 14vh;
   --padding-top: 0px;
   --padding-bottom: 0px;
   --border-radius: 100px;
   --opacity: 0.86;
   font-family: 'Poppins', sans-serif;
}

.move-btn{
   margin-top: 5vh;
   text-align: center
}

.white-line{
   --border-color:white;
   --highlight-height: 0
}

.sc-ion-modal-md-h {
   opacity: 0.9;
}

.backGroundGradient {
   --background: rgba(46,178,255,1);
   --background: -moz-linear-gradient(top, rgba(46,178,255,1) 0%, rgba(140,26,255,0.48) 100%);
   --background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,178,255,1)), color-stop(100%, rgba(140,26,255,0.48)));
   --background: -webkit-linear-gradient(top, rgba(46,178,255,1) 0%, rgba(140,26,255,0.48) 100%);
   --background: -o-linear-gradient(top, rgba(46,178,255,1) 0%, rgba(140,26,255,0.48) 100%);
   --background: -ms-linear-gradient(top, rgba(46,178,255,1) 0%, rgba(140,26,255,0.48) 100%);
   --background: linear-gradient(to bottom, rgba(46,178,255,1) 0%, rgba(140,26,255,0.48) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2eb2ff', endColorstr='#8c1aff', GradientType=0 );

}
