// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Variables fonts.
$font-regular: Poppins-Regular;
$font-medium: Poppins-Medium;
$font-semibold: Poppins-SemiBold;
$font-bold: Poppins-Bold;
$font-roboto-regular: Roboto-Regular;
$font-roboto-medium: Roboto-Medium;
$font-roboto-bold: Roboto-Bold;
$font-open-sans-bold: Open-Sans-Bold;

.button-enable {
   --background: #4C6AC0;
   font-family: $font-medium;
   --color: white;
   width: 90% !important;
}

.button-disable {
   --background: #4C6AC0;
   font-family: $font-medium;
   --color: white;
   width: 90% !important;
}

.bghome{
   --background:  url('/assets/img/bg-home.png') no-repeat center center / cover;
}

.move-logo{
   margin-top: 5vh;
   margin-left: 15vh;
}

.resize-logo {
   width: 141PX;
   height: 141px;
   margin: 30px auto 0 auto;
}

.text-eyewallet{
   font-family: 'Poppins', sans-serif;
   letter-spacing: 2px;
   font-weight: 500;
   font-size: 34px;
   color: white;
}

.text-crypto{
   font-family: 'Poppins', sans-serif;
   letter-spacing: 5px;
   font-weight: 500;
   font-size: 17px;
   color: white;
}
.move-form{
   margin-top: 6.5vh;
   margin-bottom: 6.5vh;
}


.transparent{
   --background: transparent !important;
   background: transparent !important;
}

.resize-icon{
   width: 5%;
}

.white{
   --placeholder-color: white;
   color: white
}


.move-input{
   margin-left: 4vw
}

.btn-start {
   --background: #4C6AC0;
   --background-activated: linear-gradient(45deg, #7300FF -10%, #5584FF 70%, #4DAAFF 120%) !important;
   --background-hover: linear-gradient(45deg, #7300FF -10%, #5584FF 70%, #4DAAFF 120%) !important;
   width: 90% !important;
   --border-radius: 100px;
   --opacity: 0.86;
   font-family: 'Poppins', sans-serif;
}

.btn-start-inactive {
   --background: #4C6AC0;
   width: 90% !important;
   --border-radius: 100px;
   --opacity: 0.86;
   font-family: 'Poppins', sans-serif;
}

.btn-create {
   margin-top: 2vh;
   --background: transparent;
   --background-activated: linear-gradient(45deg, #7300FF -10%, #5584FF 70%, #4DAAFF 120%) !important;
   --background-hover: linear-gradient(45deg, #7300FF -10%, #5584FF 70%, #4DAAFF 120%) !important;
   width: 90% !important;
   --border-radius: 100px;
   --border-color: white;
   --border-width:1px;
   --border-style: solid;
   font-family: 'OpenSans', sans-serif;
   font-weight: 400
}

.move-btn{
   margin-top: 5vh;
   text-align: center
}

.center {
   text-align: center;
   width: 100%;
}

.white-line{
   --border-color:white;
   --highlight-height: 0
}

.sc-ion-modal-md-h {
   opacity: 1;
}


.backGroundGradient {
   --background: linear-gradient(rgba(20, 169, 255, 0.7) 0%, rgba(43, 132, 255, 0.7) 21.26%, rgba(128, 0, 255, 0.7) 180%);
}

.all-center {
   display: flex;
   align-items: center;
   justify-content: center;
}

.all-center-horizontal {
   display: flex;
   justify-content: center;
}

.all-center-vertical {
   display: flex;
   align-items: center;
}

.center-space-between {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.center-space-around {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.all-center-colum {
   @extend .all-center;
   flex-direction: column;
}

.center-horizontal {
   display: flex;
   justify-content: center;
}

.center-vertical {
   display: flex;
   align-items: center;
}

.all-center {
   display: flex;
   align-items: center;
   justify-content: center;
}

.all-center-colum {
   @extend .all-center;
   flex-direction: column;
}

.center-horizontal {
   display: flex;
   justify-content: center;
}

.center-vertical {
   display: flex;
   align-items: center;
}
.contentdash{
   top:10%;
}

.loadingSpinner {
   --background: transparent;
   --width: 100%;
   --height: 100%;
   --max-width: 100%;
   --max-height: 100%;
}

.spinner {
   position: relative;
   z-index: 50;
   width: 40%;
   margin: 0vw 20vw 0vw 20vw;
   animation: rotation 0.6s infinite linear;
}

.loadingText{
   color: white;
   font-family: 'Poppins', sans-serif;
   font-size: 5vw;
   font-weight: 500;
   text-align: center;
}

@keyframes rotation {
   from {
         -webkit-transform: rotate(0deg);
   }
   to {
         -webkit-transform: rotate(359deg);
   }
}

.blur{
   filter: blur(6px);
}
.textLoading{
   color: white;
}
.textLoadingBlack{
   background-image: linear-gradient(rgba(20, 169, 255, 0.6) 0%, rgba(43, 132, 255, 0.6) 21.26%, rgba(128, 0, 255, 0.6) 180%);
}
.loading-translucent.sc-ion-loading-ios-h .loading-wrapper.sc-ion-loading-ios {
   background-color: transparent !important;
   -webkit-backdrop-filter: saturate(180%) blur(20px);
   backdrop-filter: saturate(180%) blur(20px);
   display: flex !important;
   flex-direction: column-reverse !important;
}
.spinner-bubbles.sc-ion-loading-ios, .spinner-circles.sc-ion-loading-ios, .spinner-crescent.sc-ion-loading-ios, .spinner-dots.sc-ion-loading-ios, .spinner-lines.sc-ion-loading-ios, .spinner-lines-small.sc-ion-loading-ios {
   width: 100px;
   color: #2B84FF;
   height: 108px;
}

//Key for animations.
.animated {
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
 }

.margin-pocket-component{
   margin-top: 3%;
}
//  .tab-selected{
//    background: rgb(134,31,194) !important;
//    color: white !important;
//  }
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
   bottom: 48%;
   left: 10%;
   width: 100%;
}

.swiper-pagination-bullet-active {
   height: 12px;
   width: 12px;
   background: rgba(77,170,255,1);
   background: -moz-linear-gradient(top, rgba(77,170,255,1) 0%, rgba(85,132,255,1) 24%, rgba(115,0,255,1) 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77,170,255,1)), color-stop(24%, rgba(85,132,255,1)), color-stop(100%, rgba(115,0,255,1)));
   background: -webkit-linear-gradient(top, rgba(77,170,255,1) 0%, rgba(85,132,255,1) 24%, rgba(115,0,255,1) 100%);
   background: -o-linear-gradient(top, rgba(77,170,255,1) 0%, rgba(85,132,255,1) 24%, rgba(115,0,255,1) 100%);
   background: -ms-linear-gradient(top, rgba(77,170,255,1) 0%, rgba(85,132,255,1) 24%, rgba(115,0,255,1) 100%);
   background: linear-gradient(to bottom, rgba(77,170,255,1) 0%, rgba(85,132,255,1) 24%, rgba(115,0,255,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4daaff', endColorstr='#7300ff', GradientType=0 );
}
.swiper-pagination-bullet {
   background: rgba(77,170,255,1);
   background: -moz-linear-gradient(top, rgba(77,170,255,1) 0%, rgba(85,132,255,0.88) 24%, rgba(115,0,255,0.5) 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77,170,255,1)), color-stop(24%, rgba(85,132,255,0.88)), color-stop(100%, rgba(115,0,255,0.5)));
   background: -webkit-linear-gradient(top, rgba(77,170,255,1) 0%, rgba(85,132,255,0.88) 24%, rgba(115,0,255,0.5) 100%);
   background: -o-linear-gradient(top, rgba(77,170,255,1) 0%, rgba(85,132,255,0.88) 24%, rgba(115,0,255,0.5) 100%);
   background: -ms-linear-gradient(top, rgba(77,170,255,1) 0%, rgba(85,132,255,0.88) 24%, rgba(115,0,255,0.5) 100%);
   background: linear-gradient(to bottom, rgba(77,170,255,1) 0%, rgba(85,132,255,0.88) 24%, rgba(115,0,255,0.5) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4daaff', endColorstr='#7300ff', GradientType=0 );
}

.swiper-pagination {
   text-align: left;
}


.margins-dashboard{
   padding: 0 0 100px 0;
}

.loading-translucent.sc-ion-loading-ios-h .loading-wrapper.sc-ion-loading-ios {
   backdrop-filter: none;
}
