<ion-content padding class="bghome" >
<div class="move-logo">
    <ion-img class="resize-logo" src="../../assets/img/home-logo.svg"></ion-img>
    <div class="center">
        <ion-label class="text-eyewallet">EYEWALLET</ion-label>
        <br>
        <ion-label class="text-crypto">CRYPTO BANK</ion-label>
    </div>
</div>

<div class="move-btn">
    <ion-button (click)="login()" class="btn-start" mode="ios">Iniciar Sesión</ion-button>
    <br>
    <ion-button (click)="registry()" class="btn-create" mode="ios">Crear Billetera</ion-button>
</div>
</ion-content>
