@import '../../theme/variables.scss';

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.bghome{
  --background: linear-gradient(45deg, #b87dff -10%, #86a6f7 70%, #6fbafc 120%) !important;
  }

.move-logo{
  margin-top: 5vh;
  margin-left: 15vh;
}

.resize-logo {
  width: 60%;
}

.card-padding {
  --padding-bottom: 1.5em !important;
}

.center{
  text-align: center;
  width: 100%;
}

.text-eyewallet{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 34px;
  color: white;
}

.text-crypto{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 17px;
  color: white;
}

.move-btn{
  margin-top: 30vh;
  text-align: center
}

.move-input{
  margin-left: 4vw !important;
}

.btn-start{
  --background: #4C6AC0;
  --background-activated: linear-gradient(45deg, #7300FF -10%, #5584FF 70%, #4DAAFF 120%) !important;
  --background-hover: linear-gradient(45deg, #7300FF -10%, #5584FF 70%, #4DAAFF 120%) !important;
  --padding-start: 27vw;
  --padding-end: 27vw;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --border-radius: 100px;
  --opacity: 0.86;
  font-family: 'Poppins', sans-serif;
}

.btn-create{
  margin-top: 2vh;
  --background: transparent;
  --background-activated: linear-gradient(45deg, #7300FF -10%, #5584FF 70%, #4DAAFF 120%) !important;
  --background-hover: linear-gradient(45deg, #7300FF -10%, #5584FF 70%, #4DAAFF 120%) !important;
  --padding-start: 27vw;
  --padding-end: 27vw;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --border-radius: 100px;
  --border-color: white;
  --border-width:1px;
  --border-style: solid;
  font-family: 'Poppins', sans-serif;
}

.recover-wallet{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21.6px;
  text-align: center;
  color:#fff;
}

.selectLanguage{
    margin-top: 2vh;
    background: transparent;
    padding-left: 30vw;
    padding-right: 30vw;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    border-radius: 100px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    box-sizing: border-box;
    width: 84vw;
    margin-left: 4vw;
}

// .list-ios {
//     margin-left: 0;
//     margin-right: 0;
//     margin-top: -50px;
//     margin-bottom: 32px;
//     background: var(--ion-item-background,var(--ion-background-color,transparent));
    
// }
.label{
  font-family: 'Poppins', sans-serif;
  color: #ccd9eb;
 font-size: 18px;
}


    // color: transparent;
    // height: 125px;
    // width: 125px;
    // animation-duration: 750ms;
    // background-image: url(../../../assets/img/spinner.svg);
    // background-repeat: no-repeat;

    // width: 125px;
    // height: 125px;