<ion-content padding class="bghome" >
<div>
    <ion-img class="resize-logo" src="../../assets/img/home-logo.svg"></ion-img>
    <div class="center">
        <ion-label class="text-eyewallet">{{'HOMEPAGE.EyeWallet'| translate}}</ion-label>
        <br>
        <ion-label class="text-crypto">CRYPTO BANK</ion-label>
    </div>
</div>

<div class="move-btn">
    <ion-button (click)="login()" class="btn-start" mode="ios">{{'HOMEPAGE.LogIn'| translate}}</ion-button>
    <br>
    <ion-button (click)="registry()" class="btn-create" mode="ios">{{'HOMEPAGE.CreateWallet'| translate}}</ion-button>
    <select (ionChange)="selectLanguage()" [value]="selectedLanguage" [(ngModel)]="selectedLanguage" class="selectLanguage">
        <option hidden disabled value="">{{'GENERAL.Language' | translate}}</option>
        <option [value]="language.value" *ngFor="let language of languages" mode="md">
            {{language.text}}</option>
    </select>
    <!-- <br><br><br>
    <p class="recover-wallet" (click)="recover()">Recuperar Billetera</p> -->
</div>
</ion-content>

