<ion-content padding class="bghome" >

  <div *ngIf="ctrlSelfie" style="margin-top: 10%">
    <ion-card class="center" color="Light">
      <ion-card-header>
        <ion-card-title type="ios" color="Light" class="center center-vertical center-horizontal">
          <ion-label style="color:#3D95FF;padding: 20px;">Haz un retrato</ion-label>
        </ion-card-title>
        <ion-card-subtitle type="ios" color="Light" class="center center-vertical center-horizontal">
          <ion-label style="color:#3D95FF;padding: 0 20px 10px 20px;"> Asegúrate de que tu cara sea claramente visible.</ion-label>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="center center-vertical center-horizontal">
        <ion-img style="width: 80%;" src="../../assets/img/upload/takephoto.svg"></ion-img>
      </ion-card-content>
    </ion-card>
    <div class="move-btn">
      <ion-button  class="btn-start" mode="ios" (click)="takePhoto()">Comenzar ahora</ion-button>
      <br>
      <ion-button  class="btn-start" mode="ios" (click)="closeModal()">Chequear luego</ion-button>
    </div>
  </div>
  <div *ngIf="ctrlDocument" style="margin-top: 10%">
    <ion-card *ngIf="documentList === 0" class="center" color="Light">
      <ion-card-header>
        <ion-card-title  type="ios" color="Light" class="center center-vertical center-horizontal">
          <ion-label style="color:#3D95FF;padding: 0 20px 10px 20px;">Toma una foto de la
            página de fotos de
            pasaportes.</ion-label>
        </ion-card-title>
        <ion-card-subtitle type="ios" color="Light" class="center center-vertical center-horizontal">
         <ion-label style="color:#3D95FF;padding: 0 20px 10px 20px;">Asegúrese de que su documento
           sea legible.</ion-label>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="../../assets/img/upload/takephoto.svg"></ion-img>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="documentList === 1" class="center" color="Light">
      <ion-card-header>
        <ion-card-title  type="ios" color="Light" class="center center-vertical center-horizontal">
          <ion-label style="color:#3D95FF;padding: 0 20px 10px 20px;">Documento de identidad
            con retrato</ion-label>
        </ion-card-title>
        <ion-card-subtitle type="ios" color="Light" class="center center-vertical center-horizontal">
          <ion-label  style="color:#3D95FF;padding: 0 20px 10px 20px;">Asegúrate de que tu cara y documento sea claramente visible.</ion-label>
        </ion-card-subtitle>
        </ion-card-header>
      <ion-card-content>
        <ion-img src="../../assets/img/upload/passport.svg"></ion-img>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="documentList === 2" class="center" color="Light">
      <ion-card-header>
        <ion-card-title  type="ios" color="Light" class="center center-vertical center-horizontal">
          <ion-label style="color:#3D95FF;padding: 0 20px 10px 20px;">Tarjeta de residencia</ion-label>
        </ion-card-title>
        <ion-card-subtitle type="ios" color="Light" class="center center-vertical center-horizontal">
          <ion-label style="color:#3D95FF;padding: 0 20px 10px 20px;">Asegúrate de que tu documento sea claramente visible.</ion-label>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="../../assets/img/upload/tarjeta.svg"></ion-img>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="documentList === 3" class="center" color="Light">
      <ion-card-header>
        <ion-card-title  type="ios" color="Light" class="center center-vertical center-horizontal">
          <ion-label style="color:#3D95FF;padding: 0 20px 10px 20px;">Permiso de conducir</ion-label>
        </ion-card-title>
        <ion-card-subtitle type="ios" color="Light" class="center center-vertical center-horizontal">
          <ion-label style="color:#3D95FF;padding: 0 20px 10px 20px;">Asegúrate de que tu documento sea claramente visible.</ion-label>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="../../assets/img/upload/tarjeta.svg"></ion-img>
      </ion-card-content>
    </ion-card>
    <div class="move-btn">
      <ion-button  class="btn-start" mode="ios" (click)="takePhoto()">Continuar</ion-button>
    </div>
  </div>
  <div *ngIf="ctrlDocumentAddress" style="margin-top: 10%">
    <ion-card class="center" color="Light">
      <ion-card-header>
        <ion-card-title  type="ios" color="Light" class="center center-vertical center-horizontal">
          <ion-label style="color:#3D95FF;padding: 20px;">Documento de servicios públicos</ion-label>
        </ion-card-title>
        <ion-card-subtitle type="ios" color="Light" class="center center-vertical center-horizontal">
          <ion-label style="color:#3D95FF;padding: 0 20px 10px 20px;">Asegura que tu dirección sea legible</ion-label>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="../../assets/img/upload/takephoto.svg"></ion-img>
      </ion-card-content>
    </ion-card>
    <div class="move-btn">
      <ion-button  class="btn-start" mode="ios" (click)="takePhoto()">Continuar</ion-button>
    </div>
  </div>
</ion-content>


